<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.EmployeePunishRecordMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.EmployeePunishRecord" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="make_department_code" property="makeDepartmentCode" jdbcType="CHAR" />
    <result column="make_department_name" property="makeDepartmentName" jdbcType="VARCHAR" />
    <result column="employee_code" property="employeeCode" jdbcType="CHAR" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="employee_idcard_no" property="employeeIdcardNo" jdbcType="CHAR" />
    <result column="punish_reason" property="punishReason" jdbcType="VARCHAR" />
    <result column="punish_basis" property="punishBasis" jdbcType="VARCHAR" />
    <result column="punish_way" property="punishWay" jdbcType="VARCHAR" />
    <result column="punish_address" property="punishAddress" jdbcType="VARCHAR" />
    <result column="record_department_code" property="recordDepartmentCode" jdbcType="CHAR" />
    <result column="record_department_name" property="recordDepartmentName" jdbcType="VARCHAR" />
    <result column="punisher_name" property="punisherName" jdbcType="VARCHAR" />
    <result column="punish_time" property="punishTime" jdbcType="TIMESTAMP" />
    <result column="district_id" property="districtId" jdbcType="CHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
  </resultMap>
  <resultMap id="BaseCountResultMap" type="com.dhht.model.ExamineCount">
    <result column="countNum" jdbcType="INTEGER" property="countNum" />
    <result column="district_id" jdbcType="CHAR" property="district" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, make_department_code, make_department_name, employee_code, employee_name, employee_idcard_no, 
    punish_reason, punish_basis, punish_way, punish_address, record_department_code, 
    record_department_name, punisher_name, punish_time, district_id, longitude, latitude
  </sql>
  <select id="selectPunishCountByDistrict" parameterType="java.lang.String" resultMap="BaseCountResultMap">
    SELECT  count(1) as countNum, s.district_name as district_id from punish_record_employee e LEFT JOIN sys_district s
    on e.district_id = s.district_id
    where
    <choose>
      <when test="month != null and month !=''">
        date_format(e.punish_time,'%Y-%m') = date_format(#{month},'%Y-%m')
      </when>
      <otherwise>
        date_format(e.punish_time,'%Y-%m') = date_format(NOW(),'%Y-%m')
      </otherwise>
    </choose>
    and e.district_id = #{district}
  </select>
  <select id="selectPunishCountByCityDistrict" parameterType="java.lang.String" resultMap="BaseCountResultMap">
    SELECT  count(1) as countNum, s.city_name as district_id from punish_record_employee e LEFT JOIN sys_district s on
    e.district_id = s.district_id
    where
    <choose>
      <when test="month != null and month !=''">
        date_format(e.punish_time,'%Y-%m') = date_format(#{month},'%Y-%m')
      </when>
      <otherwise>
        date_format(e.punish_time,'%Y-%m') = date_format(NOW(),'%Y-%m')
      </otherwise>
    </choose>
    and e.district_id like '${district}%'
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from punish_record_employee
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="findPunish" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" />
    from punish_record_employee where 1 = 1
    <if test="startTime == null and  endTime != null" >
      and punish_time &lt; #{endTime}
    </if>
    <if test="startTime != null and  endTime != null" >
      and punish_time BETWEEN #{startTime} and #{endTime}
    </if>
    <if test="startTime != null and  endTime == null" >
      and punish_time &gt; #{startTime}
    </if>
    <if test="district != null" >
      and district_id like '${district}%'
    </if>
    <if test="makedepartmentName != null" >
      and make_department_name like '%${makedepartmentName}%'
    </if>
    order by punish_time DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from punish_record_employee
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dhht.model.EmployeePunishRecord" >
    insert into punish_record_employee (id, make_department_code, make_department_name, 
      employee_code, employee_name, employee_idcard_no, 
      punish_reason, punish_basis, punish_way, 
      punish_address, record_department_code, record_department_name, 
      punisher_name, punish_time, district_id, 
      longitude, latitude)
    values (#{id,jdbcType=CHAR}, #{makeDepartmentCode,jdbcType=CHAR}, #{makeDepartmentName,jdbcType=VARCHAR}, 
      #{employeeCode,jdbcType=CHAR}, #{employeeName,jdbcType=VARCHAR}, #{employeeIdcardNo,jdbcType=CHAR}, 
      #{punishReason,jdbcType=VARCHAR}, #{punishBasis,jdbcType=VARCHAR}, #{punishWay,jdbcType=VARCHAR}, 
      #{punishAddress,jdbcType=VARCHAR}, #{recordDepartmentCode,jdbcType=CHAR}, #{recordDepartmentName,jdbcType=VARCHAR}, 
      #{punisherName,jdbcType=VARCHAR}, #{punishTime,jdbcType=TIMESTAMP}, #{districtId,jdbcType=CHAR}, 
      #{longitude,jdbcType=REAL}, #{latitude,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.EmployeePunishRecord" >
    insert into punish_record_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="makeDepartmentCode != null" >
        make_department_code,
      </if>
      <if test="makeDepartmentName != null" >
        make_department_name,
      </if>
      <if test="employeeCode != null" >
        employee_code,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="employeeIdcardNo != null" >
        employee_idcard_no,
      </if>
      <if test="punishReason != null" >
        punish_reason,
      </if>
      <if test="punishBasis != null" >
        punish_basis,
      </if>
      <if test="punishWay != null" >
        punish_way,
      </if>
      <if test="punishAddress != null" >
        punish_address,
      </if>
      <if test="recordDepartmentCode != null" >
        record_department_code,
      </if>
      <if test="recordDepartmentName != null" >
        record_department_name,
      </if>
      <if test="punisherName != null" >
        punisher_name,
      </if>
      <if test="punishTime != null" >
        punish_time,
      </if>
      <if test="districtId != null" >
        district_id,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="makeDepartmentCode != null" >
        #{makeDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="makeDepartmentName != null" >
        #{makeDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="employeeCode != null" >
        #{employeeCode,jdbcType=CHAR},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="employeeIdcardNo != null" >
        #{employeeIdcardNo,jdbcType=CHAR},
      </if>
      <if test="punishReason != null" >
        #{punishReason,jdbcType=VARCHAR},
      </if>
      <if test="punishBasis != null" >
        #{punishBasis,jdbcType=VARCHAR},
      </if>
      <if test="punishWay != null" >
        #{punishWay,jdbcType=VARCHAR},
      </if>
      <if test="punishAddress != null" >
        #{punishAddress,jdbcType=VARCHAR},
      </if>
      <if test="recordDepartmentCode != null" >
        #{recordDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="recordDepartmentName != null" >
        #{recordDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="punisherName != null" >
        #{punisherName,jdbcType=VARCHAR},
      </if>
      <if test="punishTime != null" >
        #{punishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="districtId != null" >
        #{districtId,jdbcType=CHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.EmployeePunishRecord" >
    update punish_record_employee
    <set >
      <if test="makeDepartmentCode != null" >
        make_department_code = #{makeDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="makeDepartmentName != null" >
        make_department_name = #{makeDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="employeeCode != null" >
        employee_code = #{employeeCode,jdbcType=CHAR},
      </if>
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="employeeIdcardNo != null" >
        employee_idcard_no = #{employeeIdcardNo,jdbcType=CHAR},
      </if>
      <if test="punishReason != null" >
        punish_reason = #{punishReason,jdbcType=VARCHAR},
      </if>
      <if test="punishBasis != null" >
        punish_basis = #{punishBasis,jdbcType=VARCHAR},
      </if>
      <if test="punishWay != null" >
        punish_way = #{punishWay,jdbcType=VARCHAR},
      </if>
      <if test="punishAddress != null" >
        punish_address = #{punishAddress,jdbcType=VARCHAR},
      </if>
      <if test="recordDepartmentCode != null" >
        record_department_code = #{recordDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="recordDepartmentName != null" >
        record_department_name = #{recordDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="punisherName != null" >
        punisher_name = #{punisherName,jdbcType=VARCHAR},
      </if>
      <if test="punishTime != null" >
        punish_time = #{punishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="districtId != null" >
        district_id = #{districtId,jdbcType=CHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.EmployeePunishRecord" >
    update punish_record_employee
    set make_department_code = #{makeDepartmentCode,jdbcType=CHAR},
      make_department_name = #{makeDepartmentName,jdbcType=VARCHAR},
      employee_code = #{employeeCode,jdbcType=CHAR},
      employee_name = #{employeeName,jdbcType=VARCHAR},
      employee_idcard_no = #{employeeIdcardNo,jdbcType=CHAR},
      punish_reason = #{punishReason,jdbcType=VARCHAR},
      punish_basis = #{punishBasis,jdbcType=VARCHAR},
      punish_way = #{punishWay,jdbcType=VARCHAR},
      punish_address = #{punishAddress,jdbcType=VARCHAR},
      record_department_code = #{recordDepartmentCode,jdbcType=CHAR},
      record_department_name = #{recordDepartmentName,jdbcType=VARCHAR},
      punisher_name = #{punisherName,jdbcType=VARCHAR},
      punish_time = #{punishTime,jdbcType=TIMESTAMP},
      district_id = #{districtId,jdbcType=CHAR},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>