<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhht.dao.ExamineMapper">
  <resultMap id="BaseResultMap" type="com.dhht.model.Examine">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="district_id" jdbcType="CHAR" property="districtId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, remark, district_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from examine_type
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectExamineForm" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from examine_type
    where district_id = #{dis1} or district_id = #{dis2} or district_id = #{dis3}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from examine_type
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.dhht.model.Examine">
    insert into examine_type (id, name, remark, 
      district_id)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{districtId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.Examine">
    insert into examine_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.Examine">
    update examine_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.Examine">
    update examine_type
    set name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>