<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.FileMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.FileInfo" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="operation_record_id" property="operationRecordId" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id,  file_name, file_path, create_time, operation_record_id
  </sql>

  <sql id="Column_List" >
    id, seal_code, file_name, file_path, note, create_time, operation_type, operation_record_id
  </sql>

  <select id="selectByPath" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file
    where file_path = #{path,jdbcType=CHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file
    where id = #{id,jdbcType=CHAR}
  </delete>

  <delete id="deleteByPrimaryPath" parameterType="java.lang.String"  >
    delete from file where
    file_path = #{filePath,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.dhht.model.FileInfo" >
    insert into file (id,  file_name,
      file_path, create_time,
      operation_record_id)
    values (#{id,jdbcType=CHAR}, #{fileName,jdbcType=VARCHAR},
      #{filePath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{operationRecordId,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.dhht.model.FileInfo" >
    update file
    set seal_code = #{sealCode,jdbcType=CHAR},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_path = #{filePath,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      operation_type = #{operationType,jdbcType=TINYINT},
      operation_record_id = #{operationRecordId,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>