<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.JsonDataMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.JsonData" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="operate_type" property="operateType" jdbcType="INTEGER" />
    <result column="deal_result" property="dealResult" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="fail_message" property="failMessage" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dhht.model.JsonData" extends="BaseResultMap" >
    <result column="json_data" property="jsonData" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, data_type, operate_type, deal_result, create_time, fail_message
  </sql>
  <sql id="Blob_Column_List" >
    json_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dhht.model.JsonDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_json_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhht.model.JsonDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_json_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_json_data
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_json_data
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhht.model.JsonDataExample" >
    delete from sys_json_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhht.model.JsonData" >
    insert into sys_json_data (id, data_type, operate_type, 
      deal_result, create_time, fail_message, 
      json_data)
    values (#{id,jdbcType=VARCHAR}, #{dataType,jdbcType=INTEGER}, #{operateType,jdbcType=INTEGER}, 
      #{dealResult,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{failMessage,jdbcType=VARCHAR}, 
      #{jsonData,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.JsonData" >
    insert into sys_json_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="dealResult != null" >
        deal_result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="failMessage != null" >
        fail_message,
      </if>
      <if test="jsonData != null" >
        json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="dealResult != null" >
        #{dealResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failMessage != null" >
        #{failMessage,jdbcType=VARCHAR},
      </if>
      <if test="jsonData != null" >
        #{jsonData,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhht.model.JsonDataExample" resultType="java.lang.Integer" >
    select count(*) from sys_json_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_json_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=INTEGER},
      </if>
      <if test="record.operateType != null" >
        operate_type = #{record.operateType,jdbcType=INTEGER},
      </if>
      <if test="record.dealResult != null" >
        deal_result = #{record.dealResult,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.failMessage != null" >
        fail_message = #{record.failMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.jsonData != null" >
        json_data = #{record.jsonData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_json_data
    set id = #{record.id,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=INTEGER},
      operate_type = #{record.operateType,jdbcType=INTEGER},
      deal_result = #{record.dealResult,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      fail_message = #{record.failMessage,jdbcType=VARCHAR},
      json_data = #{record.jsonData,jdbcType=LONGVARBINARY}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_json_data
    set id = #{record.id,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=INTEGER},
      operate_type = #{record.operateType,jdbcType=INTEGER},
      deal_result = #{record.dealResult,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      fail_message = #{record.failMessage,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.JsonData" >
    update sys_json_data
    <set >
      <if test="dataType != null" >
        data_type = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="dealResult != null" >
        deal_result = #{dealResult,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failMessage != null" >
        fail_message = #{failMessage,jdbcType=VARCHAR},
      </if>
      <if test="jsonData != null" >
        json_data = #{jsonData,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dhht.model.JsonData" >
    update sys_json_data
    set data_type = #{dataType,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=INTEGER},
      deal_result = #{dealResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      fail_message = #{failMessage,jdbcType=VARCHAR},
      json_data = #{jsonData,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.JsonData" >
    update sys_json_data
    set data_type = #{dataType,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=INTEGER},
      deal_result = #{dealResult,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      fail_message = #{failMessage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>