<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.MakedepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.Makedepartment" >
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_nation_name" property="departmentNationName" jdbcType="VARCHAR" />
    <result column="department_english_name" property="departmentEnglishName" jdbcType="VARCHAR" />
    <result column="department_english_ahhr" property="departmentEnglishAhhr" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_id" property="legalId" jdbcType="VARCHAR" />
    <result column="legal_id_type" property="legalIdType" jdbcType="VARCHAR" />
    <result column="legal_englishsurname" property="legalEnglishsurname" jdbcType="VARCHAR" />
    <result column="legal_englishname" property="legalEnglishname" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="legalTelphone" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress" jdbcType="VARCHAR" />
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
    <result column="version_time" property="versionTime" jdbcType="VARCHAR"/>
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR"/>
    <result column="special_license_url" property="specialLicenseUrl" jdbcType="VARCHAR"/>
    <result column="legal_document_url" property="legalDocumentUrl" jdbcType="VARCHAR"/>
    <result column="idcard_front_id" property="idCardFrontId" jdbcType="VARCHAR"/>
    <result column="idcard_reverse_id" property="idCardReverseId" jdbcType="VARCHAR"/>
    <result column="score" property="score" jdbcType="FLOAT"/>
    <association property="makeDepartmentPunish"  resultMap="makeDepartmentPunishResultMap" javaType="com.dhht.model.MakeDepartmentPunish"></association>
  </resultMap>

  <resultMap id="BaseMakeDepartmentResultMap" type="com.dhht.model.pojo.MakedepartmentSimplePO" >
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_nation_name" property="departmentNationName" jdbcType="VARCHAR" />
    <result column="department_english_name" property="departmentEnglishName" jdbcType="VARCHAR" />
    <result column="department_english_ahhr" property="departmentEnglishAhhr" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_id" property="legalId" jdbcType="VARCHAR" />
    <result column="legal_id_type" property="legalIdType" jdbcType="VARCHAR" />
    <result column="legal_englishsurname" property="legalEnglishsurname" jdbcType="VARCHAR" />
    <result column="legal_englishname" property="legalEnglishname" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="legalTelphone" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress" jdbcType="VARCHAR" />
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
    <result column="version_time" property="versionTime" jdbcType="VARCHAR"/>
    <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR"/>
    <result column="special_license_url" property="specialLicenseUrl" jdbcType="VARCHAR"/>
    <result column="legal_document_url" property="legalDocumentUrl" jdbcType="VARCHAR"/>
    <result column="idcard_front_id" property="idCardFrontId" jdbcType="VARCHAR"/>
    <result column="idcard_reverse_id" property="idCardReverseId" jdbcType="VARCHAR"/>
    <result column="score" property="score" jdbcType="FLOAT"/>
    <association property="makeDepartmentAttachInfo"  resultMap="makeDepartmentAttachInfoResultMap" javaType="com.dhht.model.MakeDepartmentAttachInfo"></association>
  </resultMap>
  <resultMap id="makeDepartmentAttachInfoResultMap" type="com.dhht.model.MakeDepartmentAttachInfo">
    <id column="mid" jdbcType="VARCHAR" property="id" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_address" jdbcType="VARCHAR" property="bankAddress" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="promise_time" jdbcType="VARCHAR" property="promiseTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="make_department_flag" jdbcType="VARCHAR" property="makeDepartmentFlag" />
  </resultMap>


    <select id="selectMakedepartmentSimplePODetailById" resultMap="BaseMakeDepartmentResultMap" parameterType="java.lang.String" >
        select <include refid="Base_MakeDepartment_Column_List"/>
        from make_department LEFT JOIN make_department_attach_info
        on make_department.flag = make_department_attach_info.make_department_flag where
        make_department.id = #{id}
    </select>


  <select id="selectMakedePartment" resultMap="BaseMakeDepartmentResultMap" parameterType="com.dhht.model.pojo.MakedepartmentSimplePO" >
    select <include refid="Base_MakeDepartment_Column_List"/>
     from make_department LEFT JOIN make_department_attach_info
 on make_department.flag = make_department_attach_info.make_department_flag where
make_department.delete_status = 0 and
 make_department.department_name like "%"#{departmentName,jdbcType=VARCHAR}"%"
and make_department.department_address like #{departmentAddress,jdbcType=VARCHAR}"%"
  </select>

  <select id="selectMakedePartmentByEvaluate" resultMap="BaseMakeDepartmentResultMap" parameterType="com.dhht.model.pojo.MakedepartmentSimplePO" >
    select <include refid="Base_MakeDepartment_Column_List"/>,AVG(make_department_evaluate.score) as score
    from make_department  JOIN make_department_attach_info
    on make_department.flag = make_department_attach_info.make_department_flag
    LEFT join make_department_evaluate on make_department.flag = make_department_evaluate.make_department_id
    where  make_department.delete_status = 0 and
    make_department.department_name like "%"#{departmentName,jdbcType=VARCHAR}"%"
    and make_department.department_address like #{departmentAddress,jdbcType=VARCHAR}"%"
    GROUP BY make_department_evaluate.make_department_id ORDER BY score desc
  </select>

  <select id="selectMakedePartmentBySealNum" resultMap="BaseMakeDepartmentResultMap" parameterType="com.dhht.model.pojo.MakedepartmentSimplePO" >
    select <include refid="Base_MakeDepartment_Column_List"/>
    from make_department left JOIN make_department_attach_info
    on make_department.flag = make_department_attach_info.make_department_flag
    where  make_department.delete_status = 0 and
    make_department.department_name like "%"#{departmentName,jdbcType=VARCHAR}"%"
    and make_department.department_address like #{departmentAddress,jdbcType=VARCHAR}"%"
    GROUP BY department_code
  </select>


  <resultMap id="makeDepartmentPunishResultMap" type="com.dhht.model.MakeDepartmentPunish">
    <id property="id" column="mid"/>
    <result property="makedepartmentCode" column="makedepartment_code"/>
    <result property="punishCode" column="punish_code"/>
    <result property="punishDetail" column="punish_detail"/>
    <result property="punishReason" column="punish_reason"/>
    <result property="punishResult" column="punish_result"/>
    <result property="officeCode" column="office_code"/>
    <result property="officeName" column="office_name"/>
    <result property="transactionName" column="transaction_name"/>
    <result property="punishTime" column="punish_time"/>
  </resultMap>

  <resultMap id="SimpleResultMap" type="com.dhht.model.MakeDepartmentSimple">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress"/>
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
  </resultMap>

  <resultMap id="SimpleMap" type="com.dhht.model.MakeDepartmentSimple">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress"/>
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Simple_Column_list">
     id,department_code,  department_name,department_type, legal_name,department_address,department_address_detail,telphone,  postal_code,department_status,version,flag
  </sql>
  <sql id="Simple_Column_list1">
     id,department_code,  department_name,department_type, legal_name,department_address_detail,legal_telphone , postal_code,department_status,version,flag
  </sql>
  <sql id="Base_Column_List" >
    id,department_code,  department_name, department_nation_name, department_english_name,
    department_english_ahhr, department_type, legal_name, legal_id, legal_id_type,
    legal_englishsurname, legal_englishname, legal_telphone, department_address, department_address_detail, 
    telphone, postal_code,  department_status,version,flag,version_time,register_time,business_license_url,special_license_url,idcard_front_id,idcard_reverse_id
  </sql>
  
  <sql id="Base_MakeDepartment_Column_List">
         make_department.id as id,department_code,  department_name, department_nation_name, department_english_name,
    department_english_ahhr, department_type, legal_name, legal_id, legal_id_type,
    legal_englishsurname, legal_englishname, legal_telphone, department_address, department_address_detail,
    telphone, postal_code,  department_status,version,flag,version_time,register_time,business_license_url,special_license_url,idcard_front_id,idcard_reverse_id
,    make_department_attach_info.id as mid, bank_account, bank_name, bank_address, latitude, longitude, address_detail, promise_time,
    remarks, update_time, is_delete, make_department_flag
  </sql>

  <select id="selectSimpleByName" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select <include refid="Simple_Column_list"/> from make_department where  department_name like '%${departmentName}%' and department_address like '${districtId}%' limit 0,10
  </select>

  <select id="selectByAllName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from make_department  where  department_name = #{name,jdbcType=VARCHAR} and delete_status = 0
  </select>

  <select id="selectByDepartmentCode" resultMap="SimpleResultMap" parameterType="java.lang.String" >
    select
    <include refid="Simple_Column_list" />
    from make_department as a RIGHT JOIN(
    select flag as fa,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag = b.fa and  a.version=b.ver
    where department_code = #{departmentCode,jdbcType=VARCHAR}
  </select>



  <select id="selectByLegalTephone" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list" />
    from make_department where delete_status = 0 and legal_telphone =#{legalPhone,jdbcType=VARCHAR}
  </select>

  <select id="selectCodeByLegalTelphone" resultType="java.lang.String" parameterType="java.lang.String">
      select department_code from make_department where  legal_telphone = #{legalPhone,jdbcType=VARCHAR} and  delete_status = 0
  </select>


  <insert id="deleteById" parameterType="com.dhht.model.Makedepartment" >
    insert into make_department (id,department_code, department_name,
      department_nation_name, department_english_name,
      department_english_ahhr,department_type,
      legal_name, legal_id, legal_id_type,
      legal_englishsurname, legal_englishname,
      legal_telphone, department_address, department_address_detail,
      telphone, postal_code,department_status,
      version,flag,version_time,register_time,delete_status,
      business_license_url,special_license_url,idcard_front_id,idcard_reverse_id
      )
    values (#{id,jdbcType=VARCHAR},#{departmentCode,jdbcType=VARCHAR},  #{departmentName,jdbcType=VARCHAR},
      #{departmentNationName,jdbcType=VARCHAR}, #{departmentEnglishName,jdbcType=VARCHAR},
      #{departmentEnglishAhhr,jdbcType=VARCHAR}, #{departmentType,jdbcType=VARCHAR},
      #{legalName,jdbcType=VARCHAR}, #{legalId,jdbcType=VARCHAR}, #{legalIdType,jdbcType=VARCHAR},
      #{legalEnglishsurname,jdbcType=VARCHAR}, #{legalEnglishname,jdbcType=VARCHAR},
      #{legalTelphone,jdbcType=VARCHAR}, #{departmentAddress,jdbcType=VARCHAR}, #{departmentAddressDetail,jdbcType=VARCHAR},
      #{telphone,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR},'03',
      #{version,jdbcType=NUMERIC},#{flag,jdbcType=VARCHAR},#{versionTime,jdbcType=TIMESTAMP},#{registerTime,jdbcType=TIMESTAMP},1,
      #{businessLicenseUrl,jdbcType=VARCHAR},#{specialLicenseUrl,jdbcType=VARCHAR},#{idCardFrontId,jdbcType=VARCHAR},#{idCardReverseId,jdbcType=VARCHAR}
      )
  </insert>

  <update id="deleteHistoryByID" parameterType="java.lang.String">
     update  make_department set delete_status = 1
    where id = #{id,jdbcType=CHAR}
  </update>

  <insert id="insert" parameterType="com.dhht.model.Makedepartment" >
    insert into make_department (id,department_code, department_name,
      department_nation_name, department_english_name, 
      department_english_ahhr,department_type,
      legal_name, legal_id, legal_id_type, 
      legal_englishsurname, legal_englishname, 
      legal_telphone, department_address, department_address_detail, 
      telphone, postal_code,
      version,flag,version_time,register_time,
      department_status, business_license_url,special_license_url,idcard_front_id,idcard_reverse_id
      )
    values (#{id,jdbcType=VARCHAR},#{departmentCode,jdbcType=VARCHAR},  #{departmentName,jdbcType=VARCHAR},
      #{departmentNationName,jdbcType=VARCHAR}, #{departmentEnglishName,jdbcType=VARCHAR}, 
      #{departmentEnglishAhhr,jdbcType=VARCHAR}, #{departmentType,jdbcType=VARCHAR},
      #{legalName,jdbcType=VARCHAR}, #{legalId,jdbcType=VARCHAR}, #{legalIdType,jdbcType=VARCHAR}, 
      #{legalEnglishsurname,jdbcType=VARCHAR}, #{legalEnglishname,jdbcType=VARCHAR}, 
      #{legalTelphone,jdbcType=VARCHAR}, #{departmentAddress,jdbcType=VARCHAR}, #{departmentAddressDetail,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR},
      #{version,jdbcType=NUMERIC},#{flag,jdbcType=VARCHAR},#{versionTime,jdbcType=TIMESTAMP},#{registerTime,jdbcType=TIMESTAMP},'01',
      #{businessLicenseUrl,jdbcType=VARCHAR},#{specialLicenseUrl,jdbcType=VARCHAR},#{idCardFrontId,jdbcType=VARCHAR},#{idCardReverseId,jdbcType=VARCHAR}
      )
  </insert>

  <select id="selectInfo" resultMap="SimpleMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list1" />
    from make_department as a RIGHT JOIN(
    select flag as fa,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag = b.fa and  a.version=b.ver  where  department_address like '${districtId}%' and department_status = #{departmentStatus,jdbcType=CHAR} and department_name LIKE '%${name}%'
    ORDER BY version_time DESC
  </select>
  
  <select id="selectAllInfo" resultMap="SimpleMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list1" />
    from make_department as a RIGHT JOIN(
    select flag as fa,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag = b.fa and  a.version=b.ver  where  department_address like '${districtId}%'
  </select>

  <select id="selectByDistrict" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list" />
    from make_department where delete_status = 0 and department_address =#{id,jdbcType=VARCHAR}
  </select>

  <select id="selectMeumByDistrict" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list1" />
    from make_department as a RIGHT JOIN(
    select flag as fa,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag = b.fa and  a.version=b.ver  where department_address =#{id,jdbcType=VARCHAR}
  </select>

  <select id="selectDetailById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="makeDepartmentSort" resultMap="BaseResultMap" parameterType="java.lang.String">
    select b.*, AVG(a.score) as score from make_department_evaluate a
    JOIN make_department b on b.flag = a.make_department_id and b.delete_status =0 and b.department_address LIKE '${districtId}%'
    GROUP BY a.make_department_id ORDER BY score
  </select>

  <select id="makeDepartmentSortBySealNum" resultMap="BaseResultMap" parameterType="java.lang.String">
  SELECT b.* ,count(1) as score from  seal a  JOIN make_department b
  on a.make_department_code = b.department_code and b.delete_status =0
  and b.department_address LIKE '${districtId}%'  GROUP BY a.make_department_code ORDER BY score
  </select>

  <select id="selectDetailByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department  where department_name = #{name,jdbcType=VARCHAR} and delete_status = 0
  </select>

  <select id="selectDetailByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department  where department_code = #{code,jdbcType=VARCHAR} and delete_status = 0
  </select>

  <select id="selectByCode" resultMap="SimpleResultMap" parameterType="com.dhht.model.Makedepartment">
    select <include refid="Base_Column_List"/>
    from make_department where department_code = #{departmentCode,jdbcType=VARCHAR} and delete_status = 0
  </select>

  <select id="selectByCode1" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from make_department as a RIGHT JOIN(
    select flag as fa,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag = b.fa and  a.version=b.ver
    where department_code = #{departmentCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByFlag" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department where flag = #{flag,jdbcType =VARCHAR}  AND delete_status = 1 ORDER BY version_time DESC
  </select>

  <select id="selectByNameAndTimeAndDistrict" resultMap="BaseResultMap" parameterType="java.lang.String">
    select d.*,p.id mid,p.punish_code,p.punish_detail,p.punish_reason,p.punish_result,p.transaction_name  from make_department d,make_department_punish p <where>
     d.department_code=p.makedepartment_code
    <if test="districtId!=null and districtId!=''">
    AND d.department_address = #{districtId}
    </if>
    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
    AND p.punish_time BETWEEN #{startTime} AND #{endTime}
    </if>
    <if test="departmentName!=null and departmentName!=''">
    and d.department_name = #{departmentName}
    </if>
  </where>
    ORDER BY version  DESC LIMIT 1
  </select>

  <select id="selectByNameOrTimeAndDistrict" resultMap="BaseResultMap" parameterType="java.lang.String">
    select d.*,p.id mid,p.punish_code,p.punish_detail,p.punish_reason,p.punish_result,p.transaction_name  from make_department d,make_department_punish p <where>
    d.department_code=p.makedepartment_code AND d.department_address = #{districtId}

    <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">
      AND p.punish_time BETWEEN #{startTime} AND #{endTime}
    </if>
    <if test="departmentName!=null and departmentName!=''">
      and d.department_name = #{departmentName}
    </if>
  </where>
    ORDER BY version  DESC LIMIT 1
  </select>
  <!--统计模块-->
  <select id="indexCountAdd" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%'  and date_format(register_time,'%Y-%m')=date_format(now(),'%Y-%m') AND delete_status = 0
  </select>

  <select id="indexCountDel" resultType="java.lang.Integer" parameterType="java.lang.String">
 SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%'  and date_format(register_time,'%Y-%m')=date_format(now(),'%Y-%m') AND delete_status = 1
  </select>

  <select id="countAllDepartment" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%'
  </select>

  <select id="countWorkDepartment" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 0
  </select>

  <select id="countDeleteDepartment" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 1
  </select>

  <select id="countAddDepartmentByStartTime" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 0 and register_time &gt; #{startTime}
  </select>

  <select id="countAddDepartmentByEndTime" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from make_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from make_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 0 and register_time &lt; #{endTime}
  </select>

    <select id="countAddDepartmentByTime" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) from make_department as a RIGHT JOIN(
        select flag,MAX(version) as ver from make_department GROUP BY flag
        )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 0 and register_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="countDelDepartmentByStartTime" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) from make_department as a RIGHT JOIN(
        select flag,MAX(version) as ver from make_department GROUP BY flag
        )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 1 and version_time &gt; #{startTime}
    </select>

    <select id="countDelDepartmentByEndTime" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) from make_department as a RIGHT JOIN(
        select flag,MAX(version) as ver from make_department GROUP BY flag
        )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 1 and version_time &lt; #{endTime}
    </select>

    <select id="countDelDepartmentByTime" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) from make_department as a RIGHT JOIN(
        select flag,MAX(version) as ver from make_department GROUP BY flag
        )as b on a.flag=b.flag and  a.version=b.ver where department_address like '${districtId}%' and delete_status = 1 and version_time BETWEEN #{startTime} and #{endTime}
    </select>


</mapper>