<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.MakedepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.Makedepartment" >
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_nation_name" property="departmentNationName" jdbcType="VARCHAR" />
    <result column="department_english_name" property="departmentEnglishName" jdbcType="VARCHAR" />
    <result column="department_english_ahhr" property="departmentEnglishAhhr" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_id" property="legalId" jdbcType="VARCHAR" />
    <result column="legal_id_type" property="legalIdType" jdbcType="VARCHAR" />
    <result column="legal_englishsurname" property="legalEnglishsurname" jdbcType="VARCHAR" />
    <result column="legal_englishname" property="legalEnglishname" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="legalTelphone" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress" jdbcType="VARCHAR" />
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="logout_time" property="logoutTime" jdbcType="TIMESTAMP" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
    <result column="version_time" property="versionTime" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="SimpleResultMap" type="com.dhht.model.MakeDepartmentSimple">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="department_address" property="departmentAddress"/>
    <result column="department_address_detail" property="departmentAddressDetail" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="NUMERIC"/>
    <result column="flag" property="flag" jdbcType="CHAR"/>
  </resultMap>
  <sql id="Simple_Column_list">
     id,department_code,  department_name,department_type, legal_name,department_address_detail, telphone, postal_code,department_status,version,flag
  </sql>
  <sql id="Base_Column_List" >
    id,department_code,  department_name, department_nation_name, department_english_name,
    department_english_ahhr, department_type, legal_name, legal_id, legal_id_type,
    legal_englishsurname, legal_englishname, legal_telphone, department_address, department_address_detail, 
    telphone, postal_code, logout_time, department_status,version,flag,version_time
  </sql>
  <select id="selectByDepartmentCode" resultMap="SimpleResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from make_department
    where makedepartment_code = #{departmentCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByLegalTephone" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list" />
    from make_department where delete_status = 0 and legal_phone =#{legalPhone,jdbcType=VARCHAR}
  </select>

  <update id="deleteById" parameterType="com.dhht.model.Makedepartment" >
    update  make_department set delete_status = 1,logout_time=#{logoutTime, jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="deleteHistoryByID" parameterType="java.lang.String">
     update  make_department set delete_status = 1
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="insert" parameterType="com.dhht.model.Makedepartment" >
    insert into make_department (id,department_code, department_name,
      department_nation_name, department_english_name, 
      department_english_ahhr,department_type,
      legal_name, legal_id, legal_id_type, 
      legal_englishsurname, legal_englishname, 
      legal_telphone, department_address, department_address_detail, 
      telphone, postal_code,version,flag,version_time
      )
    values (#{id,jdbcType=VARCHAR},#{departmentCode,jdbcType=VARCHAR},  #{departmentName,jdbcType=VARCHAR},
      #{departmentNationName,jdbcType=VARCHAR}, #{departmentEnglishName,jdbcType=VARCHAR}, 
      #{departmentEnglishAhhr,jdbcType=VARCHAR}, #{departmentType,jdbcType=VARCHAR},
      #{legalName,jdbcType=VARCHAR}, #{legalId,jdbcType=VARCHAR}, #{legalIdType,jdbcType=VARCHAR}, 
      #{legalEnglishsurname,jdbcType=VARCHAR}, #{legalEnglishname,jdbcType=VARCHAR}, 
      #{legalTelphone,jdbcType=VARCHAR}, #{departmentAddress,jdbcType=VARCHAR}, #{departmentAddressDetail,jdbcType=VARCHAR}, 
      #{telphone,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, #{version,jdbcType=NUMERIC},#{flag,jdbcType=VARCHAR},#{versionTime,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.dhht.model.Makedepartment" >
    update make_department
    set password = #{password,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      department_nation_name = #{departmentNationName,jdbcType=VARCHAR},
      department_english_name = #{departmentEnglishName,jdbcType=VARCHAR},
      department_english_ahhr = #{departmentEnglishAhhr,jdbcType=VARCHAR},
      seal_makedepartment_status = #{sealMakedepartmentStatus,jdbcType=VARCHAR},
      legal_name = #{legalName,jdbcType=VARCHAR},
      legal_id = #{legalId,jdbcType=VARCHAR},
      legal_id_type = #{legalIdType,jdbcType=VARCHAR},
      legal_englishsurname = #{legalEnglishsurname,jdbcType=VARCHAR},
      legal_englishname = #{legalEnglishname,jdbcType=VARCHAR},
      legal_telphone = #{legalTelphone,jdbcType=VARCHAR},
      department_address = #{departmentAddress,jdbcType=VARCHAR},
      department_address_detail = #{departmentAddressDetail,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR},
      logout_time = #{logoutTime,jdbcType=TIMESTAMP},
      department_status = #{departmentStatus,jdbcType=VARCHAR}
    where makedepartment_code = #{makedepartmentCode,jdbcType=VARCHAR}
  </update>

  <select id="selectByDistrictId" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list" />
    from make_department where delete_status = 0 and department_address like '${id}%'
  </select>

  <select id="selectByDistrict" resultMap="SimpleResultMap" parameterType="java.lang.String">
    select
    <include refid="Simple_Column_list" />
    from make_department where delete_status = 0 and department_address =#{id,jdbcType=VARCHAR}
  </select>

  <select id="selectDetailById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByCode" resultMap="SimpleResultMap" parameterType="com.dhht.model.Makedepartment">
    select <include refid="Base_Column_List"/>
    from make_department where department_code = #{departmentCode,jdbcType=VARCHAR} and delete_status = 0
  </select>

  <select id="selectByFlag" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from make_department where flag = #{flag,jdbcType =VARCHAR}
  </select>


</mapper>