<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.PunishLogMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.PunishLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="punish_id" property="punishId" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="BIT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, punish_id, result, reason
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_punish_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_punish_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dhht.model.PunishLog" >
    insert into sys_punish_log (id, punish_id, result, 
      reason)
    values (#{id,jdbcType=VARCHAR}, #{punishId,jdbcType=VARCHAR}, #{result,jdbcType=BIT}, 
      #{reason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.PunishLog" >
    insert into sys_punish_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="punishId != null" >
        punish_id,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="reason != null" >
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="punishId != null" >
        #{punishId,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.PunishLog" >
    update sys_punish_log
    <set >
      <if test="punishId != null" >
        punish_id = #{punishId,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=BIT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.PunishLog" >
    update sys_punish_log
    set punish_id = #{punishId,jdbcType=VARCHAR},
      result = #{result,jdbcType=BIT},
      reason = #{reason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>