<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhht.dao.RecordDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.dhht.model.RecordDepartment">
    <id column="id" jdbcType="VARCHAR"  property="id"/>
    <id column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="principal_id" jdbcType="VARCHAR" property="principalId" />
    <result column="department_address" jdbcType="VARCHAR" property="departmentAddress" />
    <result column="department_address_detail" jdbcType="VARCHAR" property="departmentAddressDetail" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="postal_code" jdbcType="VARCHAR" property="postalCode" />
    <result column="is_delete" jdbcType="BIT" property="isDelete"/>
    <result column="version" jdbcType="INTEGER" property="version"/>
    <result column="flag" jdbcType="VARCHAR" property="flag"/>
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,department_code, department_name, principal_name, principal_id, department_address,
    department_address_detail, telphone, postal_code,is_delete,flag,updateTime,version
  </sql>

  <select id="selectAllRecordDepartment" resultMap="BaseResultMap">
    SELECT r.* from record_department r RIGHT JOIN(
    select flag,MAX(version) as ver from record_department GROUP BY flag
    )as b on r.flag=b.flag and  r.version=b.ver
    <!--SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE is_delete = 0-->
  </select>


   
  <select id="selectByDistrictId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE department_address LIKE '${id}%' and is_delete = 0
  </select>


  <insert id="insert" parameterType="com.dhht.model.RecordDepartment">
    INSERT INTO record_department (id,department_code,department_name,principal_name,principal_id,department_address,department_address_detail,telphone,postal_code,is_delete,version,flag,updateTime)
    VALUES (#{id,jdbcType=CHAR},#{departmentCode,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR},#{principalName,jdbcType=VARCHAR},#{principalId,jdbcType=VARCHAR}, #{departmentAddress,jdbcType=VARCHAR},
    #{departmentAddressDetail,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR},#{postalCode,jdbcType=VARCHAR},0, #{version,jdbcType=INTEGER},#{flag,jdbcType=VARCHAR},#{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateById" parameterType="com.dhht.model.RecordDepartment">
    update record_department
    set
      department_code = #{departmentCode,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      principal_name = #{principalName,jdbcType=VARCHAR},
      principal_id = #{principalId,jdbcType=VARCHAR},
      department_address = #{departmentAddress,jdbcType=VARCHAR},
      department_address_detail = #{departmentAddressDetail,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      postal_code = #{postalCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>


  
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE department_code = #{departmentCode,jdbcType=VARCHAR}
  </select>

  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE telphone = #{phone,jdbcType=VARCHAR}
    ORDER BY version desc limit 1
  </select>

  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectByFlag" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"></include> FROM record_department WHERE flag = #{flag,jdbcType=VARCHAR} ORDER BY version desc
  </select>



  <update id="deleteById" parameterType="java.lang.String">
    UPDATE record_department SET is_delete = 1 WHERE id = #{id,jdbcType=CHAR}
  </update>
  <select id="validateCode" parameterType="java.lang.String" resultType="java.lang.Integer" >
    SELECT  count(1) FROM record_department WHERE department_code = #{code,jdbcType=VARCHAR} and is_delete = 0
  </select>

</mapper>