<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.Resource" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="is_required" property="isRequired" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="menu_sort" property="menuSort" jdbcType="INTEGER" />
    <result column="is_menu" property="isMenu" jdbcType="BIT" />
  </resultMap>
  <resultMap id="MenusResultMap" type="com.dhht.model.Menus">
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="description" property="name" jdbcType="VARCHAR" />
    <result column="url" property="path" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Menus_Result_List">
    id,description,url,icon,parent_id
  </sql>
  <sql id="Base_Column_List" >
    id, is_required, description, url, parent_id, icon, menu_sort, is_menu
  </sql>
  <select id="selectRequiredResource" resultMap="MenusResultMap">
    SELECT <include refid="Menus_Result_List"></include> FROM sys_resource
    WHERE is_required = 0
  </select>
  <select id="selectMenusByID" resultMap="MenusResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Menus_Result_List"/>
    FROM sys_resource
    WHERE id=#{Id,jdbcType=VARCHAR}
  </select>
  <select id="selectByParentID" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List"/>
    FROM sys_resource
    WHERE parent_id=#{parentId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_resource
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_resource
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dhht.model.Resource" >
    insert into sys_resource (id, is_required, description, 
      url, parent_id, icon, 
      menu_sort, is_menu)
    values (#{id,jdbcType=VARCHAR}, #{isRequired,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{menuSort,jdbcType=INTEGER}, #{isMenu,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.Resource" >
    insert into sys_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isRequired != null" >
        is_required,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="icon != null" >
        icon,
      </if>
      <if test="menuSort != null" >
        menu_sort,
      </if>
      <if test="isMenu != null" >
        is_menu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isRequired != null" >
        #{isRequired,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null" >
        #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        #{isMenu,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.Resource" >
    update sys_resource
    <set >
      <if test="isRequired != null" >
        is_required = #{isRequired,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="menuSort != null" >
        menu_sort = #{menuSort,jdbcType=INTEGER},
      </if>
      <if test="isMenu != null" >
        is_menu = #{isMenu,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.Resource" >
    update sys_resource
    set is_required = #{isRequired,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      menu_sort = #{menuSort,jdbcType=INTEGER},
      is_menu = #{isMenu,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>