<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhht.dao.SealAgentMapper">
    <resultMap id="BaseResultMap" type="com.dhht.model.SealAgent">
        <id column="id" jdbcType="CHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="certificate_type" jdbcType="CHAR" property="certificateType" />
        <result column="certificate_no" jdbcType="VARCHAR" property="certificateNo" />
        <result column="telphone" jdbcType="VARCHAR" property="telphone" />
        <result column="agent_photo_id" jdbcType="CHAR" property="agentPhotoId" />
        <result column="idcard_front_id" jdbcType="CHAR" property="idCardFrontId" />
        <result column="idcard_reverse_id" jdbcType="CHAR" property="idCardReverseId" />
        <result column="proxy_id" jdbcType="CHAR" property="proxyId" />
        <result column="business_type" jdbcType="CHAR" property="businessType" />
        <result column="face_compare_record_id" jdbcType="CHAR" property="faceCompareRecordId" />
        <result column="entry_type" jdbcType="CHAR" property="entryType" />
        <result column="login_telphone" jdbcType="VARCHAR" property="loginTelPhone" />
    </resultMap>
    <sql id="Base_Column_List">
        id, `name`, certificate_type, certificate_no, telphone, agent_photo_id, idcard_front_id,
        idcard_reverse_id, proxy_id, business_type, face_compare_record_id,entry_type,login_telphone
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from seal_agent
        where id = #{id,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from seal_agent
        where id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="com.dhht.model.SealAgent">
        insert into seal_agent (id, `name`, certificate_type,
            certificate_no, telphone, agent_photo_id, 
            idcard_front_id, idcard_reverse_id, proxy_id, 
            business_type, face_compare_record_id,entry_type,login_telphone)
        values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{certificateType,jdbcType=CHAR}, 
            #{certificateNo,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, #{agentPhotoId,jdbcType=CHAR}, 
            #{idCardFrontId,jdbcType=CHAR}, #{idCardReverseId,jdbcType=CHAR}, #{proxyId,jdbcType=CHAR},
            #{businessType,jdbcType=CHAR}, #{faceCompareRecordId,jdbcType=CHAR},#{entryType},#{loginTelPhone})
    </insert>

    <select id="selectSealAgentByGetterId" resultType="com.dhht.model.SealAgent">
    select id as id,`name` as `name`,certificate_type as certificateType,certificate_no as certificateNo,telphone as telphone,agent_photo_id as agentPhotoId,
    idcard_front_id as idcardFrontId,idcard_reverse_id as idCardReverseId,proxy_id as proxyId,business_type as businessType ,face_compare_record_id as faceCompareRecordId,login_telphone as loginTelPhone
    from
    seal_agent where id=#{getterId}
  </select>

    <insert id="insertSelective" parameterType="com.dhht.model.SealAgent">
        insert into seal_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="certificateType != null">
                certificate_type,
            </if>
            <if test="certificateNo != null">
                certificate_no,
            </if>
            <if test="telphone != null">
                telphone,
            </if>
            <if test="agentPhotoId != null">
                agent_photo_id,
            </if>
            <if test="idCardFrontId != null">
                idcard_front_id,
            </if>
            <if test="idCardReverseId != null">
                idcard_reverse_id,
            </if>
            <if test="proxyId != null">
                proxy_id,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="faceCompareRecordId != null">
                face_compare_record_id,
            </if>
            <if test="entryType != null">
                entry_type,
            </if>
            <if test="loginTelPhone != null">
                login_telphone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="certificateType != null">
                #{certificateType,jdbcType=CHAR},
            </if>
            <if test="certificateNo != null">
                #{certificateNo,jdbcType=VARCHAR},
            </if>
            <if test="telphone != null">
                #{telphone,jdbcType=VARCHAR},
            </if>
            <if test="agentPhotoId != null">
                #{agentPhotoId,jdbcType=CHAR},
            </if>
            <if test="idCardFrontId != null">
                #{idCardFrontId,jdbcType=CHAR},
            </if>
            <if test="idCardReverseId != null">
                #{idCardReverseId,jdbcType=CHAR},
            </if>
            <if test="proxyId != null">
                #{proxyId,jdbcType=CHAR},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=CHAR},
            </if>
            <if test="faceCompareRecordId != null">
                #{faceCompareRecordId,jdbcType=CHAR},
            </if>
            <if test="entryType != null">
                #{entryType,jdbcType=CHAR},
            </if>
            <if test="loginTelPhone != null">
                #{loginTelPhone,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.SealAgent">
        update seal_agent
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="certificateType != null">
                certificate_type = #{certificateType,jdbcType=CHAR},
            </if>
            <if test="certificateNo != null">
                certificate_no = #{certificateNo,jdbcType=VARCHAR},
            </if>
            <if test="telphone != null">
                telphone = #{telphone,jdbcType=VARCHAR},
            </if>
            <if test="agentPhotoId != null">
                agent_photo_id = #{agentPhotoId,jdbcType=CHAR},
            </if>
            <if test="idCardFrontId != null">
                idcard_front_id = #{idCardFrontId,jdbcType=CHAR},
            </if>
            <if test="idCardReverseId != null">
                idcard_reverse_id = #{idCardReverseId,jdbcType=CHAR},
            </if>
            <if test="proxyId != null">
                proxy_id = #{proxyId,jdbcType=CHAR},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=CHAR},
            </if>
            <if test="faceCompareRecordId != null">
                face_compare_record_id = #{faceCompareRecordId,jdbcType=CHAR},
            </if>
            <if test="loginTelPhone !=null">
                login_telphone = #{loginTelPhone},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dhht.model.SealAgent">
        update seal_agent
        set name = #{name,jdbcType=VARCHAR},
            certificate_type = #{certificateType,jdbcType=CHAR},
            certificate_no = #{certificateNo,jdbcType=VARCHAR},
            telphone = #{telphone,jdbcType=VARCHAR},
            agent_photo_id = #{agentPhotoId,jdbcType=CHAR},
            idcard_front_id = #{idCardFrontId,jdbcType=CHAR},
            idcard_reverse_id = #{idCardReverseId,jdbcType=CHAR},
            proxy_id = #{proxyId,jdbcType=CHAR},
            business_type = #{businessType,jdbcType=CHAR},
            face_compare_record_id = #{faceCompareRecordId,jdbcType=CHAR},
            entry_type = #{entryType},
            login_telphone = #{loginTelPhone}
        where id = #{id,jdbcType=CHAR}
    </update>

    <select id="selectByTelPhone" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from seal_agent
        where login_telphone = #{telPhone}
    </select>
</mapper>