<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.SealDao" >
  <resultMap id="BaseResultMap" type="com.dhht.model.Seal" >
    <id column="id" property="id" jdbcType="CHAR" />
    <id column="seal_code" property="sealCode" jdbcType="VARCHAR" />
    <result column="seal_name" property="sealName" jdbcType="VARCHAR" />
    <result column="seal_status_code" property="sealStatusCode" jdbcType="CHAR" />
    <result column="use_department_code" property="useDepartmentCode" jdbcType="CHAR" />
    <result column="use_department_name" property="useDepartmentName" jdbcType="VARCHAR" />
    <result column="record_department_code" property="recordDepartmentCode" jdbcType="CHAR" />
    <result column="record_department_name" property="recordDepartmentName" jdbcType="VARCHAR" />
    <result column="make_department_code" property="makeDepartmentCode" jdbcType="CHAR" />
    <result column="make_department_name" property="makeDepartmentName" jdbcType="VARCHAR" />
    <result column="seal_type_code" property="sealTypeCode" jdbcType="CHAR" />
    <result column="materials_code" property="materialsCode" jdbcType="CHAR" />
    <result column="mimeograph_description" property="mimeographDescription" jdbcType="VARCHAR" />
    <result column="seal_shape_code" property="sealShapeCode" jdbcType="VARCHAR" />
    <result column="seal_size" property="sealSize" jdbcType="VARCHAR" />
    <result column="seal_center_image" property="sealCenterImage" jdbcType="VARCHAR" />
    <result column="seal_specification" property="sealSpecification" jdbcType="VARCHAR" />
    <result column="seal_make_type_code" property="sealMakeTypeCode" jdbcType="VARCHAR" />
    <result column="seal_record_type_code" property="sealRecordTypeCode" jdbcType="VARCHAR" />
    <result column="record_date" property="recordDate" jdbcType="TIMESTAMP" />
    <result column="is_record" property="isRecord" jdbcType="BIT"/>
    <result column="make_date" property="makeDate" jdbcType="TIMESTAMP" />
    <result column="is_make" property="isMake" jdbcType="BIT"/>
    <result column="personal_date" property="personalDate"  jdbcType="TIMESTAMP"/>
    <result column="is_personal" property="isPersonal" jdbcType="BIT"/>
    <result column="deliver_date" property="deliverDate"  />
    <result column="is_deliver" property="isDeliver" jdbcType="BIT"/>
    <result column="logout_date" property="logoutDate"  jdbcType="TIMESTAMP"/>
    <result column="is_logout" property="isLogout" jdbcType="BIT"/>
    <result column="loss_date" property="lossDate" jdbcType="TIMESTAMP" />
    <result column="is_loss" property="isLoss" jdbcType="BIT"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="seal_reason" property="sealReason" jdbcType="VARCHAR"/>
    <result column="district_id" property="districtId" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seal_code, seal_name, seal_status_code, use_department_code, use_department_name, 
    record_department_code, record_department_name, make_department_code, make_department_name, 
    seal_type_code, materials_code, mimeograph_description, seal_shape_code, seal_size,
    seal_center_image, seal_specification, seal_make_type_code, seal_record_type_code,record_date,is_record,make_date,is_make,personal_date,is_personal,deliver_date
      ,is_deliver,logout_date,is_logout,loss_date,is_loss,remark,seal_reason,district_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from seal
    where id = #{id,jdbcType=CHAR}

  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.dhht.model.SealKey" >
    delete from seal
    where id = #{id,jdbcType=CHAR}
      and seal_code = #{sealCode,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.dhht.model.Seal" >
    insert into seal (id, seal_code, seal_name, 
      seal_status_code, use_department_code, use_department_name, 
      record_department_code, record_department_name, 
      make_department_code, make_department_name, seal_type_code,
      materials_code, mimeograph_description, seal_shape_code, 
      seal_size, seal_center_image, seal_specification, 
      seal_make_type_code, seal_record_type_code,record_date,is_record,make_date,is_make,personal_date,is_personal,deliver_date
      ,is_deliver,logout_date,is_logout,loss_date,is_loss,remark,seal_reason,district_id
      )
    values (#{id,jdbcType=CHAR}, #{sealCode,jdbcType=VARCHAR}, #{sealName,jdbcType=VARCHAR}, 
      #{sealStatusCode,jdbcType=CHAR}, #{useDepartmentCode,jdbcType=CHAR}, #{useDepartmentName,jdbcType=VARCHAR}, 
      #{recordDepartmentCode,jdbcType=CHAR}, #{recordDepartmentName,jdbcType=VARCHAR}, 
      #{makeDepartmentCode,jdbcType=CHAR}, #{makeDepartmentName,jdbcType=VARCHAR}, #{sealTypeCode,jdbcType=CHAR},
      #{materialsCode,jdbcType=CHAR}, #{mimeographDescription,jdbcType=VARCHAR}, #{sealShapeCode,jdbcType=VARCHAR}, 
      #{sealSize,jdbcType=VARCHAR}, #{sealCenterImage,jdbcType=VARCHAR}, #{sealSpecification,jdbcType=VARCHAR},
      #{sealMakeTypeCode,jdbcType=VARCHAR}, #{sealRecordTypeCode,jdbcType=VARCHAR},#{recordDate},#{isRecord},#{makeDate},#{isMake},
      #{personalDate},#{isPersonal},#{deliverDate},#{isDeliver},#{logoutDate},#{isLogout},#{lossDate},#{isLoss},#{remark},#{sealReason},#{districtId})
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >
    update seal
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.sealCode != null" >
        seal_code = #{record.sealCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sealName != null" >
        seal_name = #{record.sealName,jdbcType=VARCHAR},
      </if>
      <if test="record.sealStatusCode != null" >
        seal_status_code = #{record.sealStatusCode,jdbcType=CHAR},
      </if>
      <if test="record.useDepartmentCode != null" >
        use_department_code = #{record.useDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="record.useDepartmentName != null" >
        use_department_name = #{record.useDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDepartmentCode != null" >
        record_department_code = #{record.recordDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="record.recordDepartmentName != null" >
        record_department_name = #{record.recordDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.makeDepartmentCode != null" >
        make_department_code = #{record.makeDepartmentCode,jdbcType=CHAR},
      </if>
      <if test="record.makeDepartmentName != null" >
        make_department_name = #{record.makeDepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.sealTypeCode != null" >
        seal_type_code = #{record.sealTypeCode,jdbcType=CHAR},
      </if>
      <if test="record.materialsCode != null" >
        materials_code = #{record.materialsCode,jdbcType=CHAR},
      </if>
      <if test="record.mimeographDescription != null" >
        mimeograph_description = #{record.mimeographDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.sealShapeCode != null" >
        seal_shape_code = #{record.sealShapeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sealSize != null" >
        seal_size = #{record.sealSize,jdbcType=VARCHAR},
      </if>
      <if test="record.sealCenterImage != null" >
        seal_center_image = #{record.sealCenterImage,jdbcType=VARCHAR},
      </if>
      <if test="record.sealSpecification != null" >
        seal_specification = #{record.sealSpecification,jdbcType=VARCHAR},
      </if>
      <if test="record.sealMakeTypeCode != null" >
        seal_make_type_code = #{record.sealMakeTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sealRecordTypeCode != null" >
        seal_record_type_code = #{record.sealRecordTypeCode,jdbcType=VARCHAR},
      </if>

    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update seal
    set id = #{record.id,jdbcType=CHAR},
      seal_code = #{record.sealCode,jdbcType=VARCHAR},
      seal_name = #{record.sealName,jdbcType=VARCHAR},
      seal_status_code = #{record.sealStatusCode,jdbcType=CHAR},
      use_department_code = #{record.useDepartmentCode,jdbcType=CHAR},
      use_department_name = #{record.useDepartmentName,jdbcType=VARCHAR},
      record_department_code = #{record.recordDepartmentCode,jdbcType=CHAR},
      record_department_name = #{record.recordDepartmentName,jdbcType=VARCHAR},
      make_department_code = #{record.makeDepartmentCode,jdbcType=CHAR},
      make_department_name = #{record.makeDepartmentName,jdbcType=VARCHAR},
     seal_type_code = #{record.sealTypeCode,jdbcType=CHAR},
      materials_code = #{record.materialsCode,jdbcType=CHAR},
      mimeograph_description = #{record.mimeographDescription,jdbcType=VARCHAR},
      seal_shape_code = #{record.sealShapeCode,jdbcType=VARCHAR},
      seal_size = #{record.sealSize,jdbcType=VARCHAR},
      seal_center_image = #{record.sealCenterImage,jdbcType=VARCHAR},
      seal_specification = #{record.sealSpecification,jdbcType=VARCHAR},
      seal_make_type_code = #{record.sealMakeTypeCode,jdbcType=VARCHAR},
      seal_record_type_code = #{record.sealRecordTypeCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.dhht.model.Seal" >
    update seal
    set seal_name = #{sealName,jdbcType=VARCHAR},
      seal_status_code = #{sealStatusCode,jdbcType=CHAR},
      use_department_code = #{useDepartmentCode,jdbcType=CHAR},
      use_department_name = #{useDepartmentName,jdbcType=VARCHAR},
      record_department_code = #{recordDepartmentCode,jdbcType=CHAR},
      record_department_name = #{recordDepartmentName,jdbcType=VARCHAR},
      make_department_code = #{makeDepartmentCode,jdbcType=CHAR},
      make_department_name = #{makeDepartmentName,jdbcType=VARCHAR},
      seal_type_code = #{sealTypeCode,jdbcType=CHAR},
      materials_code = #{materialsCode,jdbcType=CHAR},
      mimeograph_description = #{mimeographDescription,jdbcType=VARCHAR},
      seal_shape_code = #{sealShapeCode,jdbcType=VARCHAR},
      seal_size = #{sealSize,jdbcType=VARCHAR},
      seal_center_image = #{sealCenterImage,jdbcType=VARCHAR},
      seal_specification = #{sealSpecification,jdbcType=VARCHAR},
      seal_make_type_code = #{sealMakeTypeCode,jdbcType=VARCHAR},
      seal_record_type_code = #{sealRecordTypeCode,jdbcType=VARCHAR},
      record_date = #{recordDate},
      is_record = #{isRecord},
      make_date = #{makeDate},
      is_make = #{isMake},
      personal_date = #{personalDate},
      is_personal = #{isPersonal},
      deliver_date = #{deliverDate},
      is_deliver = #{isDeliver},
      logout_date = #{logoutDate},
      is_logout = #{isLogout},
      loss_date = #{lossDate},
      is_loss = #{isLoss},
      remark = #{remark},
      seal_reason = #{sealReason},
      district_id = #{districtId}
    where id = #{id,jdbcType=CHAR}
      and seal_code = #{sealCode,jdbcType=VARCHAR}
  </update>


  <select id="selectByCodeAndType" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
      select * from seal WHERE use_department_code = #{useDepartmentCode} AND seal_type_code = "05" and (is_loss !=TRUE OR is_logout!=TRUE)
  </select>

<select id="selectOperationRecordByCode" resultType="com.dhht.model.SealOperationRecord">
        select operator_telphone as operatorTelphone,emplyee_name AS emplyeeName ,employee_id as employeeId,operator_name as operatorName,
        operator_certificate_code as operatorCertificateCode ,operator_certificate_type as operatorCertificateType ,flag as flag FROM  seal_operation_record WHERE seal_code = #{sealCode} AND flag = "01";
</select>
  <insert id="insertSealOperationRecord" parameterType="com.dhht.model.SealOperationRecord">
    INSERT INTO seal_operation_record (id, seal_code, date_time,operator_telphone,emplyee_name,
      employee_id, operator_name,operator_certificate_code,
      operator_certificate_type,flag)
    values (#{id}, #{sealCode}, #{dateTime},
      #{operatorTelphone}, #{emplyeeName}, #{employeeId},
      #{operatorName}, #{operatorCertificateCode},
      #{operatorCertificateType},#{flag})
  </insert>

<select id="selectSealMaterialByCode" resultType="com.dhht.model.SealMaterial">
  SELECT `type`,file_path AS filePath FROM  seal_material WHERE seal_code = #{sealCode} and `type` IN
  <foreach collection="types" open="(" close=")" separator="," item="type">
   #{type}
  </foreach>
</select>
  <insert id="insertSealMaterial" parameterType="com.dhht.model.SealMaterial">
    INSERT INTO seal_material (id,seal_code,`type`,file_path)values(#{id},#{sealCode},#{type},#{filePath})
  </insert>

  <select id="selectByCodeAndName" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
    SELECT * from seal
    <where>
      <if test="useDepartmentCode !=null and useDepartmentCode !=''">
        And use_department_code LIKE  "%"#{useDepartmentCode}"%"
      </if>
      <if test="useDepartmentName !=null and useDepartmentName !=''">
        AND use_department_name LIKE  "%"#{useDepartmentName,jdbcType=VARCHAR}"%"
      </if>
      <if test="isRecord !=null and isRecord !=''">
        AND is_record =  #{isRecord,jdbcType=BIT}
      </if>
      <if test="isMake !=null and isMake !=''">
        AND is_make =  #{isMake,jdbcType=BIT}
      </if>
      <if test="isPersonal !=null and isPersonal !=''">
        AND is_personal =  #{isPersonal,jdbcType=BIT}
      </if>
      <if test="isDeliver !=null and isDeliver !=''">
        AND is_deliver =  #{isDeliver,jdbcType=BIT}
      </if>
      <if test="recordDepartmentCode !=null and recordDepartmentCode!=''">
        AND record_department_code = #{recordDepartmentCode,jdbcType=CHAR}
      </if>
      <if test="makeDepartmentCode !=null and makeDepartmentCode!=''">
        AND make_department_code = #{makeDepartmentCode,jdbcType=CHAR}
      </if>
      <if test="districtId !=null and districtId!=''">
        AND district_id like #{districtId}"%"
      </if>
    </where>
  </select>

  <select id="selectUndelivered" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
    SELECT * from seal
    <where>
      is_record = 1 AND is_deliver =0 and is_logout = 0 AND is_loss = 0
      <if test="useDepartmentCode !=null and useDepartmentCode !=''">
        And use_department_code LIKE  "%"#{useDepartmentCode}"%"
      </if>
      <if test="useDepartmentName !=null and useDepartmentName !=''">
        AND use_department_name LIKE  "%"#{useDepartmentName,jdbcType=VARCHAR}"%"
      </if>
      <if test="districtId !=null and districtId!=''">
        AND district_id like #{districtId}"%"
      </if>
      <if test="makeDepartmentCode !=null and makeDepartmentCode!=''">
        AND make_department_code = #{makeDepartmentCode,jdbcType=CHAR}
      </if>

    </where>
  </select>

  <select id="selectIsRecord" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
    SELECT * from seal
    <where>
      is_record = 1 and is_deliver = 1 AND is_logout = 0 AND is_loss = 0
      <if test="useDepartmentCode !=null and useDepartmentCode !=''">
        And use_department_code LIKE  "%"#{useDepartmentCode}"%"
      </if>
      <if test="useDepartmentName !=null and useDepartmentName !=''">
        AND use_department_name LIKE  "%"#{useDepartmentName,jdbcType=VARCHAR}"%"
      </if>
      <if test="districtId !=null and districtId!=''">
        AND district_id like #{districtId}"%"
      </if>
      <if test="makeDepartmentCode !=null and makeDepartmentCode!=''">
        AND make_department_code = #{makeDepartmentCode,jdbcType=CHAR}
      </if>

    </where>
  </select>

  <select id="selectIsLoss" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
    SELECT * from seal
    <where>
      <if test="isRecord !=null and isRecord !=''">
        AND is_record =  #{isRecord,jdbcType=BIT}
      </if>
      <if test="isMake !=null and isMake !=''">
        AND is_make =  #{isMake,jdbcType=BIT}
      </if>
      <if test="isPersonal !=null and isPersonal !=''">
        AND is_personal =  #{isPersonal,jdbcType=BIT}
      </if>
      <if test="isDeliver !=null and isDeliver !=''">
        AND is_deliver =  #{isDeliver,jdbcType=BIT}
      </if>
      <if test="isLoss !=null and isLoss !=''">
        AND is_loss =  #{isLoss,jdbcType=BIT}
      </if>
      <if test="useDepartmentCode !=null and useDepartmentCode !=''">
        And use_department_code LIKE  "%"#{useDepartmentCode}"%"
      </if>
      <if test="useDepartmentName !=null and useDepartmentName !=''">
        AND use_department_name LIKE  "%"#{useDepartmentName,jdbcType=VARCHAR}"%"
      </if>
      <if test="districtId !=null and districtId!=''">
        AND district_id like #{districtId}"%"
      </if>
      <if test="makeDepartmentCode !=null and makeDepartmentCode!=''">
        AND make_department_code = #{makeDepartmentCode,jdbcType=CHAR}
      </if>

    </where>
  </select>

  <select id="selectIsLogout" parameterType="com.dhht.model.Seal" resultMap="BaseResultMap">
    SELECT * from seal
    <where>
      <if test="isRecord !=null and isRecord !=''">
        AND is_record =  #{isRecord,jdbcType=BIT}
      </if>
      <if test="isMake !=null and isMake !=''">
        AND is_make =  #{isMake,jdbcType=BIT}
      </if>
      <if test="isPersonal !=null and isPersonal !=''">
        AND is_personal =  #{isPersonal,jdbcType=BIT}
      </if>
      <if test="isDeliver !=null and isDeliver !=''">
        AND is_deliver =  #{isDeliver,jdbcType=BIT}
      </if>
      <if test="isLoss !=null and isLoss !=''">
        or is_loss =  #{isLoss,jdbcType=BIT}
      </if>
      <if test="isLogout !=null and isLogout !=''">
        AND is_logout =  #{isLogout,jdbcType=BIT}
      </if>
      <if test="useDepartmentCode !=null and useDepartmentCode !=''">
        And use_department_code LIKE  "%"#{useDepartmentCode}"%"
      </if>
      <if test="useDepartmentName !=null and useDepartmentName !=''">
        AND use_department_name LIKE  "%"#{useDepartmentName,jdbcType=VARCHAR}"%"
      </if>
      <if test="districtId !=null and districtId!=''">
        AND district_id like #{districtId}"%"
      </if>
      <if test="makeDepartmentCode !=null and makeDepartmentCode!=''">
        AND make_department_code = #{makeDepartmentCode,jdbcType=CHAR}
      </if>

    </where>
  </select>

  <select id="SelectByCodeAndFlag" resultType="com.dhht.model.SealOperationRecord">
    SELECT id AS id,seal_code AS sealCode,date_time AS dateTime,operator_telphone AS operatorTelphone,emplyee_name AS emplyeeName
    ,employee_id AS employeeId, operator_name AS operatorName, operator_certificate_code AS operatorCertificateCode ,operator_certificate_type AS operatorCertificateType,
    flag AS flag from seal_operation_record WHERE seal_code =#{sealCode} AND flag="01"
  </select>

  <select id="SelectByCodeAndFlag03" resultType="com.dhht.model.SealOperationRecord">
    SELECT id AS id,seal_code AS sealCode,date_time AS dateTime,operator_telphone AS operatorTelphone,emplyee_name AS emplyeeName
    ,employee_id AS employeeId, operator_name AS operatorName, operator_certificate_code AS operatorCertificateCode ,operator_certificate_type AS operatorCertificateType,
    flag AS flag from seal_operation_record WHERE seal_code =#{sealCode} AND flag= #{flag}
  </select>


<insert id="insertSealGetperson" parameterType="com.dhht.model.SealGetPerson">
  insert into seal_getperson(id,seal_code,getperson_name,getperson_type,getperson_id,getperson_telphone,get_date,is_same)VALUES (#{id},#{sealCode},#{getpersonName},#{getpersonType},
  #{getpersonId},#{getpersonTelphone},#{getDate},#{isSame})
</insert>

  <select id="selectByMakeDepartmentCode" resultMap="BaseResultMap">
    SELECT * FROM seal
    <where>
      make_department_code = #{makeDepartmentCode}
    </where>
  </select>


  <!---统计模块-->
  <select id="countAddSeal"  resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(id) from seal s  where
         s.seal_type_code=#{sealTypeCode} and s.make_department_code= #{makeDepartmentCode}
		and is_record = true and is_make = true  AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="countLossSeal"  resultType="java.lang.Integer" parameterType="java.lang.String">

      SELECT count(id) from seal s  where
      s.seal_type_code=#{sealTypeCode} and s.make_department_code= #{makeDepartmentCode}
        and  is_loss =true
        and is_logout!=true AND loss_date BETWEEN  #{startTime} and #{endTime}
  </select>


  <select id="countLogoutSeal"  resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT count(id) from seal s  where
      s.seal_type_code=#{sealTypeCode} and s.make_department_code= #{makeDepartmentCode}
      and  is_logout =true AND logout_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="selectLikeDistrictId"  resultType="java.lang.String">
     SELECT seal.make_department_code from seal where  district_id like #{districtId}"%" group by seal.make_department_code
  </select>

  <select id="selectDistrictId"  resultType="java.lang.String">
    SELECT seal.make_department_code from seal where  district_id = #{districtId} group by seal.make_department_code
  </select>

  <select id="selectByDistrictId"  resultType="com.dhht.model.Seal" parameterType="java.lang.String">
    SELECT  seal_type_code AS sealTypeCode ,seal_code AS sealCode
    from seal where  district_id = #{districtId}
  </select>

  <select id="countAddSealByDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from seal where district_id  =  #{districtId} AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true  AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="countLossSealByDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">

    SELECT count(id) from seal where district_id  = #{districtId} AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true AND is_loss =true AND is_logout!=true AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>


  <select id="countLogoutSealByDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from seal where district_id  = #{districtId}  AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true AND is_loss!=true AND is_logout=true AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="countAddSealByLikeDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from seal where district_id  like #{districtId}"%" AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true AND is_loss!=true AND is_logout!=true AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="countLossSealByLikeDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">

    SELECT count(id) from seal where district_id like #{districtId}"%" AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true AND is_loss=true AND is_logout!=true AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>


  <select id="countLogoutSealByLikeDistrictId"  resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from seal where district_id like #{districtId}"%" AND seal_type_code=#{sealTypeCode}
    AND is_record = true AND is_make = true  AND make_date BETWEEN  #{startTime} and #{endTime}
  </select>

  <select id="countByDistrictId" resultType="java.util.Map" parameterType="java.lang.Object">
SELECT
    seal.make_department_code
    FROM
    seal
    WHERE seal.district_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
       #{item.DistrictId}
    </foreach>
    group by  seal.make_department_code

  </select>
</mapper>