<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.SealPayOrderMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.SealPayOrder" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="seal_id" property="sealId" jdbcType="CHAR" />
    <result column="is_pay" property="isPay" jdbcType="BIT" />
    <result column="pay_way" property="payWay" jdbcType="CHAR" />
    <result column="pay_accout" property="payAccout" jdbcType="VARCHAR" />
    <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
    <result column="express_way" property="expressWay" jdbcType="BIT" />
    <result column="courier_id" property="courierId" jdbcType="CHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="refund_status" property="refundStatus" jdbcType="CHAR" />
    <result column="is_evaluation" property="isEvaluation" jdbcType="BIT" />
    <result column="payjs_order_id" property="payJsOrderId" jdbcType="VARCHAR" />
    <result column="wechat_user_id" property="weChatUserId" jdbcType="CHAR" />
    <result column="make_department_id" property="makeDepartmentId" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, seal_id, is_pay, pay_way, pay_accout, pay_date, express_way, courier_id, memo,refund_status,is_evaluation,payjs_order_id,wechat_user_id,make_department_id,create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from seal_pay_order
    where id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectBySealId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from seal_pay_order
    where seal_id = #{sealId,jdbcType=CHAR} limit 1
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from seal_pay_order
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.dhht.model.SealPayOrder" >
    insert into seal_pay_order (id, seal_id, is_pay, pay_way, 
      pay_accout, pay_date, express_way, 
      courier_id, memo,refund_status,is_evaluation,payjs_order_id,wechat_user_id,
      make_department_id,create_time
      )
    values (#{id,jdbcType=CHAR}, #{sealId,jdbcType=CHAR}, #{isPay,jdbcType=BIT}, #{payWay,jdbcType=CHAR}, 
      #{payAccout,jdbcType=VARCHAR}, #{payDate,jdbcType=TIMESTAMP}, #{expressWay,jdbcType=BIT}, 
      #{courierId,jdbcType=CHAR}, #{memo,jdbcType=VARCHAR},#{refundStatus,jdbcType=CHAR},#{isEvaluation,jdbcType=BIT},
      #{payJsOrderId,jdbcType=VARCHAR},#{weChatUserId,jdbcType=CHAR},#{makeDepartmentId,jdbcType=CHAR},#{createTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateEvaluationStatus" parameterType="java.lang.String">
    update seal_pay_order set is_evaluation = #{isEvaluation,jdbcType=BIT} where id = {#id}
  </update>

  <update id="updateRefundStatus" parameterType="java.lang.String">
    update seal_pay_order set refund_status = #{refundStatus,jdbcType=CHAR} where id = #{id}
  </update>

  <update id="updatePayStatus" parameterType="java.lang.Object">
    update seal_pay_order set is_pay = true ,
    pay_way = #{payWay,jdbcType=VARCHAR},
    payjs_order_id = #{payJsOrderId,jdbcType=VARCHAR},
    pay_date = #{payDate,jdbcType=TIMESTAMP}
    where id = #{id}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.dhht.model.SealPayOrder" >
    update seal_pay_order
    set seal_id = #{sealId,jdbcType=CHAR},
      is_pay = #{isPay,jdbcType=BIT},
      pay_way = #{payWay,jdbcType=CHAR},
      pay_accout = #{payAccout,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=TIMESTAMP},
      express_way = #{expressWay,jdbcType=BIT},
      courier_id = #{courierId,jdbcType=CHAR},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

</mapper>