<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UserDepartmentDao" >
  <resultMap id="BaseResultMap" type="com.dhht.model.UserDepartment" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nation_name" property="nationName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="english_ahhr" property="englishAhhr" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="query_password" property="queryPassword" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_id" property="legalId" jdbcType="VARCHAR" />
    <result column="legal_id_type" property="legalIdType" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="legalTelphone" jdbcType="VARCHAR" />
    <result column="legal_country" property="legalCountry" jdbcType="VARCHAR" />
    <result column="district_id" property="districtId" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="department_status" property="departmentStatus" jdbcType="VARCHAR" />
    <result column="department_certificate" property="departmentCertificate" jdbcType="VARCHAR" />
    <result column="department_certificate_type" property="departmentCertificateType" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
  </resultMap>


  <sql id="Base_Column_List" >
    id,code,`name`,nation_name,english_name,english_ahhr,status,query_password,legal_name,legal_id,legal_id_type,legal_telphone,
    legal_country,district_id,address,telphone,postal_code,department_status,department_certificate,department_certificate_type,is_delete
  </sql>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from use_department
    where  id= #{id,jdbcType=CHAR}
  </select>


  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    UPDATE use_department
    SET is_delete = 1
    where id= #{id,jdbcType=CHAR}
  </update>



  <insert id="insert" parameterType="com.dhht.model.UserDepartment" >
    insert into use_department (id,code, name,
    nation_name, english_name,
    english_ahhr, status,
    query_password, legal_name, legal_id,
    legal_id_type, legal_telphone, legal_country,
    district_id, address,
    telphone, postal_code, department_status,
    department_certificate, department_certificate_type,is_delete
    )
    values (#{id,jdbcType=CHAR},#{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
    #{nationName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},
    #{englishAhhr,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
    #{queryPassword,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{legalId,jdbcType=VARCHAR},
    #{legalIdType,jdbcType=VARCHAR}, #{legalTelphone,jdbcType=VARCHAR}, #{legalCountry,jdbcType=VARCHAR},
    #{districtId,jdbcType=CHAR}, #{address,jdbcType=VARCHAR},
    #{telphone,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, #{departmentStatus,jdbcType=VARCHAR},
    #{departmentCertificate,jdbcType=VARCHAR}, #{departmentCertificateType,jdbcType=VARCHAR},
    #{isDelete}
    )
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.dhht.model.UserDepartment" >
    update use_department
    set
    `name` = #{name,jdbcType=VARCHAR},
    nation_name = #{nationName,jdbcType=VARCHAR},
    english_name = #{englishName,jdbcType=VARCHAR},
    english_ahhr = #{englishAhhr,jdbcType=VARCHAR},
    status = #{status,jdbcType=CHAR},
    query_password = #{queryPassword,jdbcType=VARCHAR},
    legal_name = #{legalName,jdbcType=VARCHAR},
    legal_id = #{legalId,jdbcType=VARCHAR},
    legal_id_type = #{legalIdType,jdbcType=VARCHAR},
    legal_telphone = #{legalTelphone,jdbcType=VARCHAR},
    legal_country = #{legalCountry,jdbcType=VARCHAR},
    district_id = #{districtId,jdbcType=VARCHAR},
    address = #{address,jdbcType=VARCHAR},
    telphone = #{telphone,jdbcType=VARCHAR},
    postal_code = #{postalCode,jdbcType=VARCHAR},
    department_status = #{departmentStatus,jdbcType=VARCHAR},
    department_certificate = #{departmentCertificate,jdbcType=VARCHAR},
    department_certificate_type = #{departmentCertificateType,jdbcType=VARCHAR},
    is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="findAllMake" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from use_department where is_delete = 0
  </select>

</mapper>