<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UseDepartmentDao" >
  <resultMap id="BaseResultMap" type="com.dhht.model.UseDepartment" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nation_name" property="nationName" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="english_ahhr" property="englishAhhr" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="CHAR" />
    <result column="query_password" property="queryPassword" jdbcType="VARCHAR" />
    <result column="legal_name" property="legalName" jdbcType="VARCHAR" />
    <result column="legal_id" property="legalId" jdbcType="VARCHAR" />
    <result column="legal_id_type" property="legalIdType" jdbcType="VARCHAR" />
    <result column="legal_telphone" property="legalTelphone" jdbcType="VARCHAR" />
    <result column="legal_country" property="legalCountry" jdbcType="VARCHAR" />
    <result column="legal_englishsurname" property="legalEnglishsurname" jdbcType="VARCHAR" />
    <result column="legal_englishname" property="legalEnglishname" jdbcType="VARCHAR" />
    <result column="district_id" property="districtId" jdbcType="CHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="postal_code" property="postalCode" jdbcType="VARCHAR" />
    <result column="department_status" property="departmentStatus" jdbcType="CHAR" />
    <result column="department_certificate" property="departmentCertificate" jdbcType="VARCHAR" />
    <result column="department_certificate_type" property="departmentCertificateType" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="BIT" />
    <result column="version" property="version"/>
    <result column="flag" property="flag" />
    <result column="updateTime" property="updateTime" />
    <result column="found_date" property="foundDate" />
    <result column="start_date" property="startDate" />
    <result column="end_date" property="endDate" />
    <result column="registration_department" property="registrationDepartment" />
    <result column="management_range" property="managementRange" />
    <result column="registered_capital" property="registeredCapital" />
    <result column="business_license_url" property="businessLicenseUrl" />
    <result column="special_business_licence_scanning" property="specialBusinessLicenceScanning" />
    <result column="idcard_front_id" property="idCardFrontId"/>
    <result column="idcard_reverse_id" property="idCardReverseId"/>
  </resultMap>



  <sql id="Base_Column_List" >
    id,code,`name`,nation_name,english_name,english_ahhr,department_type,query_password,legal_name,legal_id,legal_id_type,legal_telphone,
    legal_country,district_id,address,telphone,postal_code,department_status,department_certificate,department_certificate_type,is_delete,flag,version,updateTime,
    found_date,start_date,end_date,registration_department,management_range,registered_capital,business_license_url,special_business_licence_scanning,legal_englishsurname,legal_englishname,
    idcard_front_id,idcard_reverse_id
  </sql>


  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from use_department
    where  code= #{code,jdbcType=CHAR} AND is_delete = 0

  </select>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from use_department
    where  id= #{id,jdbcType=CHAR}

  </select>


  <update id="deleteById" parameterType="java.lang.String" >
    UPDATE use_department
    SET is_delete = TRUE
    where id= #{id}
  </update>

  <update id="delete" parameterType="java.lang.String" >
    UPDATE use_department
    SET is_delete = TRUE,department_status = '02'
    where id= #{id}
  </update>

<!--<select id="selectByCode">-->
   <!--SELECT * from use_department as a RIGHT JOIN(-->
    <!--select flag,MAX(version) as ver from use_department GROUP BY flag-->
    <!--)as b on a.flag=b.flag and  a.version=b.ver where `code` = #{useDeartmentCode}-->
<!--</select>-->

  <insert id="insert" parameterType="com.dhht.model.UseDepartment" >
    insert into use_department (id,code, `name`,
    nation_name, english_name,
    english_ahhr, department_type,
    query_password, legal_name, legal_id,
    legal_id_type, legal_telphone, legal_country,
    district_id, address,
    telphone, postal_code, department_status,
    department_certificate, department_certificate_type,is_delete,version,flag,updateTime,found_date,start_date,
    end_date,registration_department,management_range,registered_capital,special_business_licence_scanning,legal_englishsurname,legal_englishname,
    idcard_front_id,idcard_reverse_id,business_license_url
    )
    values (#{id,jdbcType=CHAR},#{code,jdbcType=CHAR}, #{name,jdbcType=VARCHAR},
    #{nationName,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR},
    #{englishAhhr,jdbcType=VARCHAR}, #{departmentType,jdbcType=CHAR},
    #{queryPassword,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{legalId,jdbcType=VARCHAR},
    #{legalIdType,jdbcType=VARCHAR}, #{legalTelphone,jdbcType=VARCHAR}, #{legalCountry,jdbcType=VARCHAR},
    #{districtId,jdbcType=CHAR}, #{address,jdbcType=VARCHAR},
    #{telphone,jdbcType=VARCHAR}, #{postalCode,jdbcType=VARCHAR}, #{departmentStatus,jdbcType=CHAR},
    #{departmentCertificate,jdbcType=VARCHAR}, #{departmentCertificateType,jdbcType=VARCHAR},0,
    #{version},#{flag,jdbcType=VARCHAR},#{updateTime},#{foundDate},#{startDate},#{endDate},
    #{registrationDepartment,jdbcType=VARCHAR},#{managementRange},#{registeredCapital},
    #{specialBusinessLicenceScanning},#{legalEnglishsurname},#{legalEnglishname},
    #{idCardFrontId,jdbcType=VARCHAR},#{idCardReverseId,jdbcType=VARCHAR},#{businessLicenseUrl,jdbcType=VARCHAR}
    )
  </insert>


  <select id="findAllMake" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from use_department where is_delete = 0
    order BY version desc
  </select>


  <select id="find"  parameterType="java.lang.String"  resultType="com.dhht.model.UseDepartment">
    SELECT id,`name` as name,code as code,legal_name as legalName,department_status as departmentStatus,district_id as districtId ,flag,version FROM use_department AS a RIGHT JOIN
    (SELECT flag as f, MAX(version) as v from use_department GROUP BY flag ) AS b ON a.flag=b.f AND a.version = b.v
    <where>
      <if test="districtId !=null and districtId !=''">
        district_id LIKE  #{districtId,jdbcType=VARCHAR}"%"
      </if>
      <if test="name !=null and name !=''">
        AND `name` LIKE  "%"#{name,jdbcType=VARCHAR}"%"
      </if>
      <if test="code !=null and code !=''">
        AND code LIKE  "%"#{code,jdbcType=VARCHAR}"%"
      </if>
      <if test="departmentStatus =='01'">
        AND department_status = '01'
      </if>
      <if test="departmentStatus =='00'">
        AND department_status in("01","02")
      </if>
      <if test="departmentStatus =='02'">
        AND department_status ='02'
      </if>

    </where>
    order BY updateTime DESC
  </select>


  <select id="selectByFlag" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM use_department WHERE flag = #{flag,jdbcType=VARCHAR}  and is_delete = 1 ORDER BY updateTime desc
  </select>

  <select id="selectByDepartmentStatus" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT  <include refid="Base_Column_List" /> FROM use_department WHERE
    <if test="departmentStatus =='01'">
      department_status ='01'
    </if>
    <if test="departmentStatus =='00'">
      department_status = '01' or department_status='02'
    </if>
    <if test="departmentStatus =='02'">
      department_status ='02'
    </if>
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * from use_department WHERE
      `name` LIKE  "%"#{name,jdbcType=VARCHAR}"%" AND is_delete = 0 LIMIT 0,20
  </select>

  <select id="selectDetailById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>
    from use_department where id = #{id} ORDER BY updateTime DESC
  </select>

  <!--统计部分-->
  <select id="indexCountAdd" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and date_format(start_date,'%Y-%m')=date_format(now(),'%Y-%m') AND department_status = "01"
  </select>

  <select id="indexCountDel" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and date_format(start_date,'%Y-%m')=date_format(now(),'%Y-%m') AND department_status = "02"
  </select>
  <select id="countAllDepartment" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%'
  </select>

  <select id="countWorkDepartment"  resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "01"
  </select>

  <select id="countDelDepartment" resultType="java.lang.Integer" parameterType="java.lang.String">
      SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "02"
  </select>

  <select id="countAddByStartTime" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "01" and start_date &gt; #{startTime}
  </select>

  <select id="countAddByEndTime" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "01" and start_date &lt; #{endTime}
  </select>

  <select id="countAddByTime" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%'
    and department_status = "01" and start_date BETWEEN #{startTime} and #{endTime}
  </select>

  <select id="countDelByStartTime" resultType="java.lang.Integer" parameterType="java.lang.String">
    SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "02" and end_date &gt; #{startTime}
  </select>

  <select id="countDelByEndTime" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "02" and end_date &lt; #{endTime}
  </select>

  <select id="countDelByTime" resultType="java.lang.Integer" parameterType="java.lang.String">
     SELECT count(id) from use_department as a RIGHT JOIN(
    select flag,MAX(version) as ver from use_department GROUP BY flag
    )as b on a.flag=b.flag and  a.version=b.ver where district_id like '${districtId}%' and department_status = "02"
    and end_date BETWEEN #{startTime} and #{endTime}
  </select>
</mapper>