<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UserDao" >


  <select id="validateUserLoginOne" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     makedepartment
        where
        makedepartment_code = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

    <select id="validateUserLoginThree" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     employee
        where
        employee_code = #{0} and password = #{1}
  </select>

    <sql id="simple_User_List" >
        id, user_name, real_name, role_id, is_locked, is_deleted, district_id
    </sql>

    <resultMap id="simpleResultMap" type="com.dhht.model.UserSimple">
        <id column="id" property="Id" jdbcType="VARCHAR"/>
        <result column="user_name" property="UserName" jdbcType="VARCHAR" />
        <result column="real_name" property="RealName" jdbcType="VARCHAR"/>
        <result column="role_id" property="RoleId" jdbcType="VARCHAR" />
        <result column="is_locked" property="IsLock" jdbcType="BIT"/>
        <result column="district_id" property="RegionId" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="queryForListMap" type="com.dhht.model.Users">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="user_name" property="userName" jdbcType="CHAR" />
        <result column="real_name" property="realName"/>
        <result column="password" property="password" jdbcType="CHAR" />
        <result column="role_id" property="roleId" jdbcType="CHAR" />
        <result column="object_id" property="objectId" jdbcType="CHAR"/>
        <result column="is_locked" property="isLocked" jdbcType="BIT"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
        <result column="login_error_times" property="loginErrorTimes" jdbcType="INTEGER"/>
        <result column="is_changed_pwd" property="isChangedPwd" jdbcType="BIT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="district_id" property="regionId" jdbcType="CHAR"/>
        <association property="role"  resultMap="roleResultMap" javaType="com.dhht.model.Role"></association>
        <association property="district"  resultMap="districtResultMap" javaType="com.dhht.model.District"></association>
    </resultMap>


    <resultMap id="roleResultMap" type="com.dhht.model.Role">
        <!--<id property="id" column="id"/>-->
        <result property="name" column="name"/>

    </resultMap>
    <resultMap id="districtResultMap" type="com.dhht.model.District">
        <!--<id property="id" column="id"/>-->
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
        <result property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="districtId" column="district_id"/>
        <result property="districtName" column="district_name"/>
    </resultMap>


    <select id="selectMakeDepartment"  resultType="com.dhht.model.Makedepartment">
        select *
        from make_department where makedepartment_code=#{userName}
    </select>
    <select id="selectDistrict"  resultType="com.dhht.model.District">
        select *
        from sys_district where district_id=#{district_id}
    </select>
    <select id="selectRole"  resultType="com.dhht.model.Role">
        select *
        from sys_role where id=#{role_id}
    </select>
    <insert id="addUser" parameterType="com.dhht.model.Users">
        INSERT INTO sys_user(
        `id`,
        `user_name`,
        `real_name`,
        `password`,
        `role_id`,
        `object_id`,
        `is_locked`,
        `telphone`,
        `login_error_times`,
        `is_changed_pwd`,
        `is_deleted`,
        `district_id`)
        values (
        #{id},
        #{userName},
        #{realName},
        #{password},
        "GLY",
        0,
        0,
        #{telphone},
        0,
        0,
        0,
        #{regionId}
        )
    </insert>

    <update id="update" parameterType="com.dhht.model.Users">
        UPDATE sys_user
        <set>
            <if test="userName != null and userName!=''"> `user_name` = #{userName}, </if>
            <if test="realName != null and realName!=''"> `real_name` = #{realName}, </if>
            <if test="telphone != null and telphone!=''">`telphone` =#{telphone},</if>
            <if test="roleId != null and roleId!=''"> `role_id` = #{roleId}, </if>
            <if test="regionId != null and regionId!='' "> `district_id` = #{regionId}, </if>
        </set>
        WHERE id = #{id}
    </update>

   <delete id="delete">
       DELETE  FROM sys_user WHERE id = #{id}
   </delete>


    <!--<select id="findAllSuser" resultType="com.dhht.model.Users">-->
    <select id="findAllSuser" resultMap="queryForListMap">
        SELECT u.user_name,u.real_name,u.telphone,u.role_id,u.district_id,r.*,d.*
        FROM sys_user u,sys_role r,sys_district d
        WHERE
        u.role_id = r.id AND u.district_id = d.district_id
    </select>

    <!--<select id="findRoleById" resultType="com.dhht.model.Users">-->
    <!--SELECT-->
    <!--</select>-->
    <select id="findByNo" resultType="com.dhht.model.Users">
        SELECT * FROM sys_user
        WHERE
        `id` = #{id}
    </select>
    
    <select id="findByUserName" resultType="com.dhht.model.Users" parameterType="java.lang.String">
        SELECT * FROM sys_user
        WHERE
        user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <update id="changePwd">
        UPDATE sys_user
        <set>
            <if test="password != null and password!=''"> `password` = #{password}, </if>
            `is_deleted` = 1
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="selectByDistrict" resultMap="simpleResultMap" parameterType="java.lang.String">
        SELECT <include refid="simple_User_List"></include> FROM sys_user WHERE district_id like '${id}%'
    </select>


    <update id="updateUserDepartment" parameterType="com.dhht.model.Users">
        UPDATE sys_user
          <set>
              `real_name` = #{realName},
              `is_deleted` = #{isDeleted},
              `district_id`= #{districtId}
          </set>
        WHERE `user_name` = #{userName}
    </update>
    
    <select id="findByTelphone" resultType="com.dhht.model.Users">
        SELECT * FROM sys_user
        <where>
            <if test="telphone !=null and telphone !=''">
                telphone = #{telphone}
            </if>
        </where>

    </select>


    <select id="findById" resultType="com.dhht.model.Users">
        SELECT * from sys_user WHERE id = #{id}
    </select>
</mapper>