<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.User" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="role_id" property="roleId" jdbcType="CHAR" />
    <result column="object_id" property="objectId" jdbcType="CHAR" />
    <result column="is_locked" property="isLocked" jdbcType="BIT" />
    <result column="login_error_times" property="loginErrorTimes" jdbcType="INTEGER" />
    <result column="is_changed_pwd" property="isChangedPwd" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="district_id" property="regionId" jdbcType="CHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_name, real_name, password, role_id, object_id, is_locked, login_error_times,
    is_changed_pwd, is_deleted, region_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dhht.model.UsersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from sys_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dhht.model.UsersExample" >
    delete from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dhht.model.User" >
    insert into sys_user (id, user_name, real_name,
      password, role_id, object_id,
      is_locked, login_error_times, is_changed_pwd,
      is_deleted, region_id)
    values (#{id,jdbcType=CHAR}, #{userName,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR},
      #{password,jdbcType=CHAR}, #{roleId,jdbcType=CHAR}, #{objectId,jdbcType=CHAR},
      #{isLocked,jdbcType=BIT}, #{loginErrorTimes,jdbcType=INTEGER}, #{isChangedPwd,jdbcType=BIT},
      #{isDeleted,jdbcType=BIT}, #{regionId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dhht.model.User" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="objectId != null" >
        object_id,
      </if>
      <if test="isLocked != null" >
        is_locked,
      </if>
      <if test="loginErrorTimes != null" >
        login_error_times,
      </if>
      <if test="isChangedPwd != null" >
        is_changed_pwd,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=CHAR},
      </if>
      <if test="objectId != null" >
        #{objectId,jdbcType=CHAR},
      </if>
      <if test="isLocked != null" >
        #{isLocked,jdbcType=BIT},
      </if>
      <if test="loginErrorTimes != null" >
        #{loginErrorTimes,jdbcType=INTEGER},
      </if>
      <if test="isChangedPwd != null" >
        #{isChangedPwd,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dhht.model.UsersExample" resultType="java.lang.Integer" >
    select count(*) from sys_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.userName != null" >
        user_name = #{record.userName,jdbcType=CHAR},
      </if>
      <if test="record.realName != null" >
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=CHAR},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=CHAR},
      </if>
      <if test="record.objectId != null" >
        object_id = #{record.objectId,jdbcType=CHAR},
      </if>
      <if test="record.isLocked != null" >
        is_locked = #{record.isLocked,jdbcType=BIT},
      </if>
      <if test="record.loginErrorTimes != null" >
        login_error_times = #{record.loginErrorTimes,jdbcType=INTEGER},
      </if>
      <if test="record.isChangedPwd != null" >
        is_changed_pwd = #{record.isChangedPwd,jdbcType=BIT},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user
    set id = #{record.id,jdbcType=CHAR},
      user_name = #{record.userName,jdbcType=CHAR},
      real_name = #{record.realName,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=CHAR},
      role_id = #{record.roleId,jdbcType=CHAR},
      object_id = #{record.objectId,jdbcType=CHAR},
      is_locked = #{record.isLocked,jdbcType=BIT},
      login_error_times = #{record.loginErrorTimes,jdbcType=INTEGER},
      is_changed_pwd = #{record.isChangedPwd,jdbcType=BIT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      region_id = #{record.regionId,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.User" >
    update sys_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=CHAR},
      </if>
      <if test="objectId != null" >
        object_id = #{objectId,jdbcType=CHAR},
      </if>
      <if test="isLocked != null" >
        is_locked = #{isLocked,jdbcType=BIT},
      </if>
      <if test="loginErrorTimes != null" >
        login_error_times = #{loginErrorTimes,jdbcType=INTEGER},
      </if>
      <if test="isChangedPwd != null" >
        is_changed_pwd = #{isChangedPwd,jdbcType=BIT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.User" >
    update sys_user
    set user_name = #{userName,jdbcType=CHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      role_id = #{roleId,jdbcType=CHAR},
      object_id = #{objectId,jdbcType=CHAR},
      is_locked = #{isLocked,jdbcType=BIT},
      login_error_times = #{loginErrorTimes,jdbcType=INTEGER},
      is_changed_pwd = #{isChangedPwd,jdbcType=BIT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      region_id = #{regionId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="validate"  resultMap="BaseResultMap" parameterType="com.dhht.model.UserDomain" >
  select * from sys_user where
  user_name = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
</select>
  <select id="validateCurrentuser"  resultMap="BaseResultMap" parameterType="java.lang.String" >
  select * from sys_user where
  user_name = #{username,jdbcType=VARCHAR}
</select>


  <insert id="addUserDepartment" parameterType="com.dhht.model.User">
    INSERT INTO sys_user
  </insert>
</mapper>