<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UserDao" >


  <select id="validateUserLoginOne" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     makedepartment
        where
        makedepartment_code = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

    <select id="validateUserLoginThree" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     employee
        where
        employee_code = #{0} and password = #{1}
  </select>


</mapper>