<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.UserDao" >
  <select id="validateUserLoginOne" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     makedepartment
        where
        makedepartment_code = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

    <select id="validateUserLoginThree" resultType="java.lang.Integer">
      SELECT
        count(1)
      FROM
     employee
        where
        employee_code = #{0} and password = #{1}
  </select>

    <sql id="simple_User_List" >
        id, user_name, real_name, role_id, is_locked, is_deleted, district_id,telphone
    </sql>

    <resultMap id="simpleResultMap" type="com.dhht.model.UserSimple">
        <id column="id" property="Id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR" />
        <result column="is_locked" property="isLocked" jdbcType="BIT"/>
        <result column="district_id" property="districtId" jdbcType="VARCHAR"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="queryForListMap" type="com.dhht.model.User">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="user_name" property="userName" jdbcType="CHAR" />
        <result column="real_name" property="realName"/>
        <result column="password" property="password" jdbcType="CHAR" />
        <result column="role_id" property="roleId" jdbcType="CHAR" />
        <result column="object_id" property="objectId" jdbcType="CHAR"/>
        <result column="is_locked" property="isLocked" jdbcType="BIT"/>
        <result column="telphone" property="telphone" jdbcType="VARCHAR"/>
        <result column="login_error_times" property="loginErrorTimes" jdbcType="INTEGER"/>
        <result column="is_changed_pwd" property="isChangedPwd" jdbcType="BIT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="BIT"/>
        <result column="district_id" property="districtId" jdbcType="CHAR"/>
        <association property="role"  resultMap="roleResultMap" javaType="com.dhht.model.Role"></association>
        <association property="district"  resultMap="districtResultMap" javaType="com.dhht.model.District"></association>
    </resultMap>


    <resultMap id="roleResultMap" type="com.dhht.model.Role">
        <!--<id property="id" column="id"/>-->
        <result property="name" column="name"/>

    </resultMap>
    <resultMap id="districtResultMap" type="com.dhht.model.District">
        <!--<id property="id" column="id"/>-->
        <result property="provinceId" column="province_id"/>
        <result property="provinceName" column="province_name"/>
        <result property="cityId" column="city_id"/>
        <result property="cityName" column="city_name"/>
        <result property="districtId" column="district_id"/>
        <result property="districtName" column="district_name"/>
    </resultMap>


    <select id="selectMakeDepartment"  resultType="com.dhht.model.Makedepartment">
        select *
        from make_department where makedepartment_code=#{userName}
    </select>
    <select id="selectDistrict"  resultType="com.dhht.model.District">
        select *
        from sys_district where district_id=#{district_id}
    </select>
    <select id="selectRole"  resultType="com.dhht.model.Role">
        select *
        from sys_role where id=#{role_id}
    </select>
    <insert id="addUser" parameterType="com.dhht.model.User">
        INSERT INTO sys_user(
        `id`,
        `user_name`,
        `real_name`,
        `password`,
        `role_id`,
        `object_id`,
        `is_locked`,
        `telphone`,
        `login_error_times`,
        `is_changed_pwd`,
        `is_deleted`,
        `district_id`
        )
        values (
        #{id},
        #{userName},
        #{realName},
        #{password},
        #{roleId},
        0,
        0,
        #{telphone},
        0,
        0,
        0,
        #{districtId}
        )
    </insert>

    <update id="update" parameterType="com.dhht.model.User">
        UPDATE sys_user
        <set>
            <if test="userName != null and userName!=''"> `user_name` = #{userName}, </if>
            <if test="realName != null and realName!=''"> `real_name` = #{realName}, </if>
            <if test="telphone != null and telphone!=''">`telphone` =#{telphone},</if>
            <if test="password != null and password!=''">`password` = #{password},</if>
            <if test="roleId != null and roleId!=''"> `role_id` = #{roleId}, </if>
            <if test="districtId != null and districtId!='' "> `district_id` = #{districtId}, </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateErrorTimes" parameterType="java.lang.String">
        UPDATE sys_user set login_error_times = login_error_times+1
        WHERE user_name = #{username}
    </update>

    <update id="updateErrorTimesZero" parameterType="java.lang.String">
        UPDATE sys_user set login_error_times = 1,login_time = now()
        WHERE user_name = #{username}
    </update>
    <update id="updateUser" parameterType="com.dhht.model.User">
        UPDATE sys_user set login_error_times = 0,login_time = #{loginTime}
        WHERE user_name = #{userName}
    </update>





    <delete id="delete" parameterType="java.lang.String">
         DELETE FROM sys_user WHERE  id = #{id}
    </delete>

    <delete id="deleteByTelphone" parameterType="java.lang.String">
        DELETE FROM sys_user WHERE telphone = #{telphone}
    </delete>

    <delete id="deleteByUserName" parameterType="java.lang.String">
        DELETE FROM sys_user WHERE user_name = #{userName}
    </delete>

    <select id="findAllSuser" resultMap="queryForListMap">
        SELECT u.user_name,u.real_name,u.telphone,u.role_id,u.district_id,r.*,d.*
        FROM sys_user u,sys_role r,sys_district d
        WHERE
        u.role_id = r.id AND u.district_id = d.district_id
    </select>


    <!--SELECT-->
    <!--</select>-->
    <select id="findByNo" resultType="com.dhht.model.User">
        SELECT * FROM sys_user
        WHERE
        `id` = #{id}
    </select>
    <select id="findByPhone" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_user
        WHERE
        telphone = #{phone}
    </select>

    
    <select id="findByUserName" resultType="com.dhht.model.User" parameterType="java.lang.String">
        SELECT * FROM sys_user
        WHERE
        user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <update id="changePwd">
        UPDATE sys_user
        <set>
            <if test="password != null and password!=''"> `password` = #{password}, </if>
            `is_deleted` = 1
        </set>
        WHERE id = #{id}
    </update>
    
    <select id="selectByDistrict" resultMap="simpleResultMap" parameterType="java.lang.String">
        SELECT <include refid="simple_User_List"></include> FROM sys_user WHERE district_id like '${id}%'
    </select>

    <select id="selectByDistrict1" resultMap="simpleResultMap" parameterType="java.lang.String">
        SELECT <include refid="simple_User_List"></include> FROM sys_user WHERE district_id like '${id}%' AND role_id != #{role}
    </select>


    <update id="updateUserDepartment" parameterType="com.dhht.model.User">
        UPDATE sys_user
          <set>
              `real_name` = #{realName},
              `is_deleted` = #{isDeleted},
              `district_id`= #{districtId}
          </set>
        WHERE `user_name` = #{userName}
    </update>
    
    <select id="findByTelphone" parameterType="java.lang.String" resultMap="queryForListMap">
        SELECT * FROM sys_user
        <where>
            <if test="telphone !=null and telphone !=''">
                telphone = #{telphone,jdbcType=VARCHAR}
            </if>
        </where>

    </select>


    <select id="findById" parameterType="java.lang.String"  resultType="com.dhht.model.User">
        SELECT
        `id` AS id,user_name AS userName,real_name AS realName,password AS password,role_id AS roleId,object_id AS objectId,
        telphone AS telphone,is_locked AS isLocked,login_error_times AS loginErrorTimes,is_changed_pwd AS isChangedPwd,is_deleted AS  isDeleted,
        district_id AS districtId,login_time AS loginTime
        from sys_user WHERE id = #{id}
    </select>

    <select id="find"  parameterType="java.lang.String"  resultType="com.dhht.model.User">
        SELECT id,role_id as roleId,user_name as userName,real_name as realName,is_locked as isLocked,telphone as telphone,district_id as districtId FROM sys_user
        <where>
            role_id != #{role}
            <if test="districtId !=null and districtId !=''">
                AND district_id LIKE  #{districtId,jdbcType=VARCHAR}"%"
            </if>
            <if test="roleId !=null and roleId !=''">
                AND role_id = #{roleId,jdbcType=VARCHAR}
            </if>
            <if test="realName !=null and realName !=''">
                AND real_name LIKE  "%"#{realName,jdbcType=VARCHAR}"%"
            </if>

        </where>
    </select>
    
    <select id="getRoleUser" parameterType="java.lang.String" resultMap="simpleResultMap">
        SELECT <include refid="simple_User_List"/> FROM sys_user
        <where>
            <if test="districtId !=null and districtId !=''">
                AND district_id LIKE  #{districtId,jdbcType=VARCHAR}"%"
            </if>
            <if test="roleId !=null and roleId !=''">
                AND role_id = #{roleId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>



    <update id="updateUnLock">
        UPDATE sys_user
        <set>
            is_locked = 0
        </set>
        WHERE `id` = #{id}
    </update>

    <update id="updateLock">
        UPDATE sys_user
        <set>
            is_locked = 1
        </set>
        WHERE `id` = #{id}
    </update>


    <select id="findAll" resultType="com.dhht.model.User">
         SELECT id,role_id as roleId,user_name as userName,real_name as realName,is_locked as isLocked,telphone as telphone,district_id as districtId FROM sys_user
    </select>
</mapper>