<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhht.dao.WeChatUserMapper" >
  <resultMap id="BaseResultMap" type="com.dhht.model.WeChatUser" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="is_company_accout" property="isCompanyAccout" jdbcType="BIT" />
    <result column="certificate_no" property="certificateNo" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, name, gender, telphone, company, job, create_time, image,company_name,is_company_accout,certificate_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wechat_user
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wechat_user
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.dhht.model.WeChatUser" >
    insert into wechat_user (id, `name`, gender, telphone,
      company, job, create_time, 
      image,company_name,is_company_accout,certificate_no)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{telphone,jdbcType=VARCHAR},
      #{company,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{image,jdbcType=VARCHAR}), #{companyName,jdbcType=VARCHAR},  #{isCompanyAccout,jdbcType=BIT},#{certificateNo,jdbcType=VARCHAR}
  </insert>

  <insert id="insertSelective" parameterType="com.dhht.model.WeChatUser" >
    insert into wechat_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="isCompanyAccout != null" >
        is_company_accout,
      </if>
      <if test="certificateNo !=null">
        certificate_no,
      </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
        <if test="companyName != null" >
          #{companyName,jdbcType=VARCHAR},
        </if>
        <if test="isCompanyAccout != null" >
          #{isCompanyAccout,jdbcType=BIT},
        </if>
        <if test="certificateNo !=null">
          #{certificateNo,jdbcType=VARCHAR}
        </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dhht.model.WeChatUser" >
    update wechat_user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="isCompanyAccout != null" >
        is_company_accout = #{isCompanyAccout,jdbcType=VARCHAR},
      </if>
      <if test="certificateNo !=null">
        certificate_no = #{certificateNo,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dhht.model.WeChatUser" >
    update wechat_user
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      image = #{image,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      is_company_accout = #{isCompanyAccout,jdbcType=VARCHAR},
      certificate_no = #{certificateNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  <select id="selectByTelPhone" resultMap="BaseResultMap">
    select  <include refid="Base_Column_List" />
    from wechat_user where telphone =#{telPhone}
  </select>
</mapper>